In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg3-binary

In [ ]:
pip install ipython-sql

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:Will@localhost:5432/absadatabase

### **Criteria for Identifying a Transaction Description as an Asset:**

1. **Positive Transaction Amount**:
- Amount must be **positive** (money is being granted to the customer).

2. **Keywords in Transaction Description**:
    -Transaction description should include words like:
   `CR` (Credit)
    `CREDIT`
      `CAPITAL`
      `LOAN`
      `DISBURSEMENT`
     `ADVANCE`
   These words indicate money being provided to the customer, creating an asset.

### **Why This Matters**:
- **Positive Amounts**: Indicates money flowing into the bank or assets being created (e.g., loans).
- **Keywords**: Suggest transactions involving lending, credit, or capital, which are assets for the bank.
- **Query 1** is useful for identifying and analyzing transactions where ABSA extends credit to customers.

In [93]:
%%sql
SELECT DISTINCT 
    Transaction_Description

FROM 
    TransactionData 
WHERE 
    (Transaction_Description LIKE '%CR%' 
     OR Transaction_Description LIKE '%CREDIT%' 
     OR Transaction_Description LIKE '%CAPITAL%' 
     OR Transaction_Description LIKE '%LOAN%' 
     OR Transaction_Description LIKE '%DISBURSEMENT%' 
     OR Transaction_Description LIKE '%ADVANCE%'
     OR Transaction_Description LIKE '%INTEREST%'
)
    AND amt > 0 
GROUP BY Transaction_Description
ORDER BY 
    Transaction_Description
Limit 35;

 * postgresql://postgres:***@localhost:5432/absadatabase
18 rows affected.

[('ACB CREDIT',),
 ('CR BAL REBATE',),
 ('CREDIT TRANSFER',),
 ('DIGITAL PAYMENT CR',),
 ('DIGITAL TRANSF CR',),
 ('EXTERNAL CREDIT',),
 ('IMMEDIATE TRF CR',),
 ('INTEREST',),
 ('INTEREST ADJUST',),
 ('INVESTMENT CAPITAL',),
 ('INVESTMNT INTEREST',),
 ('JOURNAL CR C/OPS',),
 ('JOURNAL CREDIT',),
 ('MOBILE PAYMENT CR',),
 ('MOBILE TRANSFER CR',),
 ('NPF CREDIT',),
 ('OCT OCARD CREDIT',),
 ('TEL CR TRANSFER',)]

### **Summary Analysis of Transactions**  

Below is a summarized breakdown of each transaction type, its definition, whether it qualifies as an asset for the bank, and the reasoning behind it:  


---

#### **10. INVESTMENT CAPITAL**  
- **Definition:** Deposits made by customers for investment purposes.  
- **Asset:** **Yes**  
- **Reason:** These funds are managed by the bank and can be used to generate returns.  

---


### **Summary of Assets for the Bank**  

2. **INVESTMENT CAPITAL**     

### **Transactions Not Assets or Loans**  
All other transactions represent external deposits, payments, or internal adjustments, and do not indicate loans or add to the bankâ€™s assets.

# 1.1. Total sum of Assets

In [91]:
%%sql
SELECT  count(transaction_description) as total_no_transa,
    SUM(amt) AS total_assets
FROM 
    TransactionData 
WHERE 
    Transaction_Description = 'INVESTMENT CAPITAL' 
;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(26, 242851.69999999998)]

# 1.1 What is the total sum of assets per month, the number of transactions performed each month, and the average account balance of customers?

In [99]:
%%sql
    SELECT 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM') AS transaction_month,  -- Format to display year and month
        COUNT(*) AS transaction_count, 
        SUM(amt) AS total_transaction_value, 
        AVG(amt) AS avg_transaction_value

    FROM 
        transactiondata
    WHERE 
        transaction_description = 'INVESTMENT CAPITAL'
    GROUP BY 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM')  -- Grouping by year and month

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[('INVESTMENT CAPITAL', '2021-09', 1, 5608.28, 5608.28),
 ('INVESTMENT CAPITAL', '2021-10', 1, 20000.0, 20000.0),
 ('INVESTMENT CAPITAL', '2021-11', 2, 18383.0, 9191.5),
 ('INVESTMENT CAPITAL', '2021-12', 1, 2000.0, 2000.0),
 ('INVESTMENT CAPITAL', '2022-01', 3, 40500.0, 13500.0),
 ('INVESTMENT CAPITAL', '2022-02', 3, 12005.43, 4001.81),
 ('INVESTMENT CAPITAL', '2022-03', 6, 45922.99, 7653.831666666666),
 ('INVESTMENT CAPITAL', '2022-04', 2, 56167.0, 28083.5),
 ('INVESTMENT CAPITAL', '2022-05', 1, 2800.0, 2800.0),
 ('INVESTMENT CAPITAL', '2022-06', 3, 15455.0, 5151.666666666667),
 ('INVESTMENT CAPITAL', '2022-07', 3, 24010.0, 8003.333333333333)]

# 1.2 Who are the top 10 contributors to assets, their income groups, the number of transactions they've performed, and their age?

In [110]:
%%sql
SELECT DISTINCT 
    c.customer_identifier,
    c.age,
    count(t.account_number),
    i.income_group_desc, 
    COUNT(*) AS No_Appr_Invest_Cap,
    SUM(t.amt) AS total_amount,
    AVG(t.account_balance) AS Avg_acc_balance
FROM 
    Customer c
JOIN 
    income_group i
    ON CAST(i.income_group_code AS VARCHAR) = c.income_group_code
JOIN 
    TransactionData t 
    ON t.customer_identifier = c.customer_identifier
WHERE 
    t.transaction_description = 'INVESTMENT CAPITAL'
GROUP BY 
    c.customer_identifier, 
    i.income_group_desc
ORDER BY 
    total_amount DESC 
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_7ac11c7bd37ec4129cc8d30d5a951212cb326d5201e7e616c56596b860cee55c71d7e47d4ea4ddfe8e78d22f36a178662793f1bcbf97313a01602c17675306a1', 20, 1, 'R12,000 - 14,999', 1, 36000.0, 41470.51),
 ('ID_f1d5eb49377469db79f52f3ba927f463236c9384621a5eaff1fe5b70807d17f4c3b0dac49493cd6bb4cf38ff3b0d3ca54ebc2e2cd1cade99f35ada23e38386be', 75, 1, 'R4,000 - 4,999', 1, 30000.0, 30000.0),
 ('ID_03ca93f60d8e0427dc8ee6c3b2e08932824271f0d0df583fd437d5b64c02f3d428c5d948deb4edd56945bc63443a274c5aafababc3715aafc9f4f10bdfa2ee54', 34, 2, 'R15,000 - 19,999', 2, 28000.0, 18348.565000000002),
 ('ID_39b61d78afae82486ce7a27b61dc3d27a854e8266324850a109b34601f21c97ac8e9691dc00f1d3e24749982fb3f04a6ca5863c556c05fd98c49b5526a8cb4ea', 29, 1, 'R7,000 - 7,999', 1, 26167.0, 26215.51),
 ('ID_fd94d6d0657007bffba43478f4f0d752458fc1df6e7a2b0aba7dd0aef309c1da47549d846ad66911c6c7a2712bb4d7784deabd2a39d23def8a01f10c8f8d442d', 26, 2, 'R34,000 - 41,999', 2, 22400.0, 12861.345),
 ('ID_66ce0d0a21164a4be48eafd8731a03013782aaae28a1b98029b4bde7c8b46e1e4252c52cdaab97949896329090c0ed7cc04fd22920b504ec340ee988fd85123f', 23, 1, 'R34,000 - 41,999', 1, 20000.0, 38240.76),
 ('ID_e208826c9ca09923cb906b5fa3c2e189b52d3eb382d75caa57e9bb7971a713a527121f06ead25f7816526acc3347980da0d21d309be9ef7ac5e42fbab4916c0c', 24, 1, 'R6,000 - 6,999', 1, 14972.99, 14974.51),
 ('ID_24f9395e7534b1eab1b78cff9155d86a657557f74fc197be4dcc18dc328db874e41f5ac88a652ef3e7cfbdd785e2d5861652b1cb39344718276bf34a2c53cd9e', 58, 1, 'R15,000 - 19,999', 1, 12000.0, 12109.27),
 ('ID_8e46a98dedbbf78bda71be21c3ba931da6dbf9228b2b14807d0d17ce7f117c086ee8ef376924d773a211dbdc4672e76df3fe61102660e7c4133dfc67eb0ba895', 29, 1, 'R6,000 - 6,999', 1, 10000.0, 10513.38),
 ('ID_4e04635439a3ab36ae6d74db086719dd237dcd12e4dae2c8f0aa8e147dc4637aad57e1c6fca724a51c16d6b5f8e2468a924442b7c90f54df4335e2f8e6c1595d', 43, 1, 'R6,000 - 6,999', 1, 6455.0, 6811.99)]

## 1.3 Channel Preferences for ASSETS Transactions

In [108]:
%%sql
SELECT 
    channel, 
    transaction_description, 
    COUNT(transaction_id) AS transaction_count, 
    SUM(amt) AS total_transaction_amount
FROM 
    transactiondata
WHERE 
    transaction_description = 'INVESTMENT CAPITAL'
GROUP BY 
    channel, transaction_description
ORDER BY 
    transaction_count DESC;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[('system', 'INVESTMENT CAPITAL', 26, 242851.69999999998)]

In [114]:
%%sql
SELECT 
    account_number, channel, 
    COUNT(*) AS transaction_count, 
    SUM(amt) AS total_transaction_value
FROM 
    transactiondata
WHERE 
    transaction_description = 'INVESTMENT CAPITAL'
GROUP BY 
    account_number,channel
ORDER BY 
    total_transaction_value DESC;

 * postgresql://postgres:***@localhost:5432/absadatabase
23 rows affected.

[('3d4da03cead8adb03eaf6eb3245b2201f3b9f78fb82294ff8a011bdd5f8f0ea479b02c654af7d8787e55b8d533b7896789b239ab73b0c31eeaec3a6993a068f6', 'system', 1, 36000.0),
 ('d838c82601aba4fa0749f9b92a636052230e822f5f9a85e0eac356824906b3740ab2d471335c3b7e92e3e8f9324aa72e5bfd49bd5e5770476e5c337cf2c25e89', 'system', 1, 30000.0),
 ('425bb57590c97f77ae195639cc12a19237ae3f3b7151005354fea636167a1e048d1b0bda7f7d0b151bf7147cf47d992d9526526fd05ea85850422980f8652382', 'system', 2, 28000.0),
 ('d407e82ede2ef8718fd9a72f48340bf8a2ca80982541bf20f47c8e00355fc461eb3f2302add4b4c3f97eed4374ad704f3dc1cb7481307973cc26ba65ac8d275a', 'system', 1, 26167.0),
 ('872b1f6d42ee0d04c8bb6fc206e68eb5d005ccab38c900545cbd4104e794ffbedca1c66a8cdfd26262c658c01f0152464ab13a75ad73c5109d6632e30afa08ac', 'system', 2, 22400.0),
 ('185e5dab602cf464638cc63e94d5a831356aae0bbd8ef3b63befab9c97db0673b1456d943dd91a210f927078378a778361e72660eeeba92daffe20e83ff62c0d', 'system', 1, 20000.0),
 ('3dd4dac870b14a2963f09921d65761c4e8cc71138f2854ceeb897b63dfbce02281537d13184dd810db3f9824275fca9df483709ac3e1369f2257ce8529e7c10d', 'system', 1, 14972.99),
 ('5a2688fa3b1898273cac16032bd415b45fbb6c6aa5de94717ae79a4510d35e7a77d4ef04273920ae320c9109a9a4e4aaf60b748eeb273eb6e60d39290c840135', 'system', 1, 12000.0),
 ('cd9def644266efbc39923a3eaa6c970c836c02061affae4c66117e76704370fe0676ec907a7afa976dcb59889481a5b44b42889923a003771a3fd40abaebde69', 'system', 1, 10000.0),
 ('a93afc24aff7a7641f40c112857008d46aae5169bf9ad072f508062c03f24142ec5d86d9388179e5506e152eed33b18cc21127d4ea12ab961340d31c8b5f8037', 'system', 1, 6455.0),
 ('a4c5723ebdbbe0af278e77cc8139793ddf7a72929b3b8d278299581ca2936f1cdc93fd7844ad608574227e8a11c0e8e20bb44cea507741cd1751b17cd47a35de', 'system', 1, 6383.0),
 ('856d655403d3e83df4915ec9ad0da126e67870754d3ea20e61f8d704d11f3a96b1106217531f4677a052533e51ecfccf7702ca1dec9ebb56a5fb6f5cb8aab890', 'system', 1, 5608.28),
 ('f3b6c780d5a9ad1704cac7d4fd4431424e5426e61482d86ce58a29e396a02b37bcf4436fb46ffe49dc0e356b3238edcefbff90138079578ba2b0221d50f7f5c4', 'system', 1, 5000.0),
 ('84d0fa768a2826a9f462dadb5349e75bb0ac23b5cf7e5c9076669059b08c4093ac417b0a5bda79c55efbbfed3edeb20a4fb323c70342267205704494435efa8b', 'system', 2, 4055.0),
 ('e1eeb1adace3a90a70afbc938d260cba491d35fd26d8c420d0b500f677d2a0b799085c35bbfa50d3217bf049f701a42ca2b2a5bed26f5a4732740feaf0a00557', 'system', 1, 4000.0),
 ('4e052f4037f04a1f0eaccb923cf387e74218bc300a3305393a87da40302ab5365f3fb96ca5a5a32a1b269b3e3aa020c9683ac961b17fccf0cf3c66be67cc22cb', 'system', 1, 2800.0),
 ('20fb07ba2859355fe98234af5bc1d9c4005c9d2ba0cf2c1f2731d128cd2be03a72f57b3952131da08f1519be77951b742ca7008eaee08280d3569e9f70e43ab0', 'system', 1, 2200.0),
 ('1bd61bb364a354817e1d69660918e6c220aed53e0aa151311bb677921c2f3efd710ea6e8f058e41d7e961371c022465a34a04d1031c922fd6a527a8045b61222', 'system', 1, 2055.0),
 ('c1307276da251d499f4e559aee7806716722f3a4053cf46a61e25c95f74f6c7922739ba6d163f5982e8e001996c36028d2ee5ad4e556048404dd89c9485b2534', 'system', 1, 2000.0),
 ('9905b70d3b533c03282a6dc96a4afad8ec1cd92777c9d6b724bba45d5cb4ee241d1ab626eb0261269710aa1d6b0e24a2a1748e6502a924ec1dd55bc3f0b9f005', 'system', 1, 2000.0),
 ('114fa1c2ca3c216f40d956829d738249d1cde580a7c01a8ac67f43a9e9f0a0e64a56581050b90c4eea2dc4f06a6e842af8b78bdb3a59909431306e82bf9d7e9a', 'system', 1, 400.0),
 ('5d61a5414ec9ef347a804349f585d3b976d7e68c598fcab9d91791e340cc028f9ac30a7a5efa89adebfc8c0156e7f17d953c8f80eee42ab57c9578f1f582bd9f', 'system', 1, 350.0),
 ('3f8dae9ef9b3f1dab062cc66a3961d50ee365f91d7298369ebc38671962f3cc7594d77d2e943646673fe038e4d5b8ed9c705333c010e1d25782f54f6048d2c29', 'system', 1, 5.43)]