In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%sql postgresql://postgres:@localhost:5432/absadatabase

## Finacial Statement
#
---
## Why financial statements
#
**We decided to classify transaction transcriptions into financial statements to bring structure and clarity to raw, unstructured data. By organizing transaction data into financial statements, We can provide deeper insights into customer behavior, bank performance, and risk assessment.**
#
**This classification allows for more accurate financial analysis, enables effective decision-making, and improves operational efficiency. Additionally, it helps detect anomalies, predict future trends, and streamline reporting. Ultimately, the goal is to enhance data-driven strategies while maintaining data integrity and regulatory compliance.**

---


---

### **1. CR BAL REBATE**
- **Why it's an asset**: A credit balance rebate could involve adjusting the customer’s account after a loan is disbursed. The loan itself is an asset to the bank because the bank expects repayment of the principal and interest. Any rebate or adjustment still ties back to the underlying loan, which remains a receivable for the bank.

---

### **2. CREDIT TRANSFER**
- **Why it's an asset**: A credit transfer could signify loan funds disbursed to a customer. Once the funds are disbursed, the bank has a right to collect the amount with interest, making the loan principal a receivable asset.

---

### **3. EXTERNAL CREDIT**
- **Why it's an asset**: External credit might represent funds disbursed from external accounts or systems as part of a loan. This becomes an asset because the customer is obligated to repay the borrowed funds with interest, creating future cash inflows for the bank.

---

### **4. JOURNAL CREDIT**
- **Why it's an asset**: Journal credits are often manual entries for loan disbursements or adjustments. The disbursed loan remains an asset since it is expected to be repaid with interest, providing economic benefits to the bank.

---

### **5. JOURNAL CR C/OPS**
- **Why it's an asset**: Similar to journal credit, this could represent internal operations to credit customer accounts with loan funds. The bank holds these funds as receivables, reinforcing their status as assets.

---


### **6. IMMEDIATE TRF CR**
- **Why it's an asset**: Immediate credit transfers could signify loan disbursements. The disbursed amount is a receivable asset, as the bank expects repayment from the borrower, along with interest.

---





### Summary:
Each transaction is tied to the bank’s right to future repayments or immediate income. Loans disbursed (e.g., **CREDIT TRANSFER**, **IMMEDIATE TRF CR**) are receivable assets, while fees (e.g., **OD: INITIATION FEE**, **OD: LEDGER FEE**) generate revenue directly linked to credit facilities. The bank benefits economically by receiving interest, principal repayments, and associated fees, reinforcing why these transactions are considered assets.

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS ASSET AS OF 2021 AND 2022
---

In [8]:
%%sql
SELECT distinct(transaction_description), sum(amt)
FROM
    transactiondata
WHERE
    transaction_description IN (
       'CR BAL REBATE',
'CREDIT TRANSFER',
'EXTERNAL CREDIT',
'JOURNAL CREDIT',
'JOURNAL CR C/OPS',
'IMMEDIATE TRF CR'
    )
GROUP BY
transaction_description

 * postgresql://postgres:***@localhost:5432/absadatabase
6 rows affected.

[('CR BAL REBATE', 23925.36),
 ('CREDIT TRANSFER', 2460238.5799999996),
 ('EXTERNAL CREDIT', 7325.68),
 ('IMMEDIATE TRF CR', 13994160.059999999),
 ('JOURNAL CR C/OPS', 4400.0),
 ('JOURNAL CREDIT', 348038.74999999994)]

### SUMMARY FOR ASSETS

In [9]:
%%sql
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
           'CR BAL REBATE',
'CREDIT TRANSFER',
'EXTERNAL CREDIT',
'JOURNAL CREDIT',
'JOURNAL CR C/OPS',
'IMMEDIATE TRF CR'
    )
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
6 rows affected.

[('CR BAL REBATE', 0.0, 23925.359999999997, 23925.359999999997, 'Profit'),
 ('CREDIT TRANSFER', 0.0, 2460238.58, 2460238.58, 'Profit'),
 ('EXTERNAL CREDIT', 0.0, 7325.68, 7325.68, 'Profit'),
 ('IMMEDIATE TRF CR', 0.0, 13994160.059999999, 13994160.059999999, 'Profit'),
 ('JOURNAL CR C/OPS', 0.0, 4400.0, 4400.0, 'Profit'),
 ('JOURNAL CREDIT', 0.0, 348038.75, 348038.75, 'Profit')]

# Total ASSET BALANCE FOR THE YEAR 2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [ ]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_2022;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(14876292.350000001,)]