In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install psycopg3-binary

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:Will@localhost:5432/absadatabase

### **Criteria for Identifying a Transaction Description as an Asset:**

1. **Positive Transaction Amount**:
- Amount must be **positive** (money is being granted to the customer).

2. **Keywords in Transaction Description**:
    -Transaction description should include words like:
   `CR` (Credit)
    `CREDIT`
      `CAPITAL`
      `LOAN`
      `DISBURSEMENT`
     `ADVANCE`
   These words indicate money being provided to the customer, creating an asset.

### **Why This Matters**:
- **Positive Amounts**: Indicates money flowing into the bank or assets being created (e.g., loans).
- **Keywords**: Suggest transactions involving lending, credit, or capital, which are assets for the bank.
- **Query 1** is useful for identifying and analyzing transactions where ABSA extends credit to customers.

In [22]:
%%sql
SELECT DISTINCT 
    Transaction_Description, 
    SUM(amt)
FROM 
    TransactionData 
WHERE 
    (Transaction_Description LIKE '%CR%' 
     OR Transaction_Description LIKE '%CREDIT%' 
     OR Transaction_Description LIKE '%CAPITAL%' 
     OR Transaction_Description LIKE '%LOAN%' 
     OR Transaction_Description LIKE '%DISBURSEMENT%' 
     OR Transaction_Description LIKE '%ADVANCE%')
    AND amt > 0 
GROUP BY Transaction_Description
ORDER BY 
    Transaction_Description
Limit 35;

 * postgresql://postgres:***@localhost:5432/absadatabase
15 rows affected.

[('ACB CREDIT', 135659407.05000037),
 ('CR BAL REBATE', 23925.36),
 ('CREDIT TRANSFER', 2460238.579999999),
 ('DIGITAL PAYMENT CR', 2083849.2499999995),
 ('DIGITAL TRANSF CR', 1668468.0100000002),
 ('EXTERNAL CREDIT', 7325.68),
 ('IMMEDIATE TRF CR', 13994160.059999999),
 ('INVESTMENT CAPITAL', 242851.69999999998),
 ('JOURNAL CR C/OPS', 4400.0),
 ('JOURNAL CREDIT', 348038.75),
 ('MOBILE PAYMENT CR', 2000.0),
 ('MOBILE TRANSFER CR', 130.0),
 ('NPF CREDIT', 3675248.3899999997),
 ('OCT OCARD CREDIT', 14260.45),
 ('TEL CR TRANSFER', 194.0)]

Payments Received (Negative Amounts)**
- **Transaction_Amount < 0**: Ensures only negative transactions are included, indicating money received from customers.
- **Keywords**:
  - `PAYMENT`, `REPAYMENT`: Indicates repayment transactions.
  - `INTEREST`: Payments related to interest.
  - `SETTLEMENT`, `RECOVERY`, `RETURN`: Words associated with customer repayments or settlements.


- **Query 2** is useful for monitoring repayments, ensuring customers are honoring their obligations.

In [24]:
%%sql
SELECT DISTINCT 
   Transaction_Description, 
   sum(amt)
FROM 
    TransactionData 
WHERE 
    (Transaction_Description LIKE '%PAYMENT%' 
     OR Transaction_Description LIKE '%REPAYMENT%' 
     OR Transaction_Description LIKE '%INTEREST%' 
     OR Transaction_Description LIKE '%SETTLEMENT%' 
     OR Transaction_Description LIKE '%RECOVERY%' 
     OR Transaction_Description LIKE '%RETURN%')
    AND amt < 0 -- Negative amount indicates repayment
GROUP BY Transaction_Description   
ORDER BY 
    Transaction_Description;

 * postgresql://postgres:***@localhost:5432/absadatabase
7 rows affected.

[('ATM PAYMENT TO', -1653872.65),
 ('DIGITAL PAYMENT DT', -31090529.640000015),
 ('IBANK PAYMENT TO', -1817394.4500000002),
 ('INTEREST', -6151.709999999999),
 ('INTEREST ADJUST', -46.00999999999999),
 ('INTEREST TO CLOSE', -12.16),
 ('MOBILE PAYMENT DT', -22100.0)]