In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg3-binary

In [ ]:
pip install ipython-sql

In [2]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [3]:
%sql postgresql://postgres:@localhost:5432/absadatabase

## Finacial Statement
#
---
## Why financial statements
#
**We decided to classify transaction transcriptions into financial statements to bring structure and clarity to raw, unstructured data. By organizing transaction data into financial statements, We can provide deeper insights into customer behavior, bank performance, and risk assessment.**
#
**This classification allows for more accurate financial analysis, enables effective decision-making, and improves operational efficiency. Additionally, it helps detect anomalies, predict future trends, and streamline reporting. Ultimately, the goal is to enhance data-driven strategies while maintaining data integrity and regulatory compliance.**

---

## 1. Assets
 Bank Assets is a financial instrument or resource that a bank owns or holds that has value and can be used to generate revenue or provide future economic benefit:

---
# 1.1 EXTERNAL CREDIT-
**What It Is:**
Money credited to the bank's accounts from external sources, such as other banks, customers, or organizations.
#
**Why It’s an Asset:**
This increases the bank’s cash reserves, a primary asset used for lending, investments, and operational liquidity

---
# 1.2 DIGITAL PAYMENT CR-
**What It Is:**
Money received through digital payment platforms (e.g., mobile apps, online banking).
#
**Why It’s an Asset:**
The received funds are added to the bank's liquid cash holdings, making them available for immediate use or reinvestment

---

## 1.3 IMMEDIATE TRF CR
**What It Is:**
Immediate credit transfers initiated by customers or other entities.
#
**Why It’s an Asset:**

---
The bank gains control of the transferred funds, which increase its cash or cash equivalents
## 1.4 CREDIT TRANSFER
**What It Is:**
A transaction where funds are electronically transferred to the bank's accounts from customers or other parties.
#
**Why It’s an Asset:**
Like the other cash inflows, this transaction increases the bank’s liquid assets available for use or investment.

---
## 1.5 FOREIGN NOTES
**What It Is:**
Physical foreign currency deposited by customers or acquired through transactions.
#
**Why It’s an Asset:**
These notes are tangible assets that can be exchanged for local currency, retained for foreign exchange operations, or used to settle international transactions.

---
## 1.6 INVESTMENT CAPITAL
**What It Is:**
Funds allocated by the bank into investment instruments, such as securities, bonds, or equity, or used to fund internal projects.
#
**Why It’s an Asset:**
Investments are resources that the bank controls with the expectation of generating future returns, such as interest, dividends, or capital gains. This aligns with the definition of an asset as a resource with future economic benefits.


---
## Why They Are Assets
**Control and Ownership:** The bank has control over these resources, enabling it to decide how they are used (e.g., reinvestment, lending, or funding operations).
#
**Economic Value:** These transactions increase the bank’s pool of resources that can generate income or provide liquidity.
#
**Future Benefits:** Cash inflows and investments are foundational to the bank’s operations, as they support lending activities, investments, and other income-generating processes.

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS ASSET AS OF 2021 AND 2022
---

In [ ]:
%%sql
SELECT *
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
GROUP BY
transaction_id

### SUMMARY FOR ASSETS

In [7]:
%%sql
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
6 rows affected.

[('CREDIT TRANSFER', 0.0, 2460238.58, 2460238.58, 'Profit'),
 ('DIGITAL PAYMENT CR', 0.0, 2083849.2499999995, 2083849.2499999995, 'Profit'),
 ('EXTERNAL CREDIT', 0.0, 7325.68, 7325.68, 'Profit'),
 ('FOREIGN NOTES', -14687.109999999999, 47766.98, 33079.87, 'Profit'),
 ('IMMEDIATE TRF CR', 0.0, 13994160.06, 13994160.06, 'Profit'),
 ('INVESTMENT CAPITAL', 0.0, 242851.69999999998, 242851.69999999998, 'Profit')]

# Total ASSET BALANCE FOR THE YEAR 2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [ ]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_2022;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(14876292.350000001,)]

---
### NOTE: Transaction amt under Expense


- **Negative Transaction amt for Customer:** Represents a **reduction in the bank's expenses**, as money is flowing into the bank (e.g., recovery of fees or charges).  

- **Positive Transaction amt for Customer:** Represents an **increase in the bank's expenses**, as money is credited back to the customer (e.g., refunds, failed transactions, or operational reversals).

---

## TABLE OF TOTAL AMT OF TRANSACTIONS CLASSIFIED AS NULL AS OF 2021 AND 2022

In [ ]:

%%sql
CREATE TABLE unclassified_Transactions AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description IS NULL
ORDER BY RECORD_DATE

In [5]:
%%sql 
select distinct(account_type_code)
from transactiondata

 * postgresql://postgres:***@localhost:5432/absadatabase
19 rows affected.

[('160ec6a68ba0e14e7710d2feeabfed66b737a2e31805e7e734e7b6f10b51d71546ca378388db990eccbd5906e563e21cff6642278c768cc5c5a0a05197b34216',),
 ('166bab99641bdb920925ce3618b6dc7718d592447801a6124bd7e8bfd9cb5b7a1f3883f8cda9fff8c9fb60aa46434f4f2ccf1dc1a5c8b729ce8104a99ee2fa5f',),
 ('2c5990d0375606a4c7a5fe2131856054ff03e05bc657fc0a13d3c847a2210b3d3f5bce52f064a31493563fb24e1d90ba3f2e04930ec6867379d63d3e158df77a',),
 ('2cde02c0cb403a41ac74cf21ae80390d9cdbd354fdece384e8a4f45bef9ceb846a4f3da04c5d3164faed5c380306583ebf0814dbc4a70f5763e8fa2620f26a86',),
 ('3b1f29addcc165f7807149b13451abe9db7e0258f5a77f5802aea11672b37cbc3439d4d8eb2aab81f37b302b6631cd9573d64cf281fe4c9e44c672bf31bff902',),
 ('402c3faaa778403ed3f850ccd7719c7795ef1ea6720f0d6e7a8ef57481e748a2b0f0b6fc7deac55fad96054d967c90fcca1f098ed6f32ddfba6568739f63cb5e',),
 ('7d37224fa590eac90cc5b204f50b32ccf281d8e5a6534351e953eab074bccdf9fa48416c3d199328506b90c410321d4787d9a7cbdf800d5a73960edf14db5220',),
 ('84e8fcd444d6158314fa3033061aa244f64264cb0da7bae251dc33d9c1c96747f4f5e89519a75b86a70051da8de72e9d4176708965a47fe49d3e719cf07fa5db',),
 ('9222e5a934d6e3e109541a249a429c1f29d7f81ca34a1d9a7ca295b65b5a1fd52ad4cbc92e66151fcf33cd187afc2b3bb92f8e80c4227799cb76ebd1290f1284',),
 ('9317537c2329262b5e19d3e29d23422558e519ca8ff0a8934afc019b97fc714685f4fc0ebc7c8425a8eaa60c4b526940ca6f8e53ffed77ff6f1d61819c2e7460',),
 ('b665ccce5a5c821c1a359029ae24ef2a63739b4f6b5b3a17dc1fb528312ffb1be44c48f26364b2a4e3dc459f9fc29e4b709e4782fa1d4614fb9da769826b3ed3',),
 ('bbbadbce5cc97581688782a1bdde29889567c415d6e91f40f5fcbb9c2f9c7caab643fbd54029c7318789c74858a39ef19c5be3ae23467099aadbfafae4a9b968',),
 ('c763073a94135fbcd52eb04ec0e95866345d974c7b67d70e677ac8531e7f9535aad31f13251115ca6a91a6b19284de76525a3ec63e8b695be59d0efab2db4834',),
 ('d2d5cd029030a29de86678be60f547c1929e077385e668df529258abb54a2309dfd634eb6c17984018b8904507fc818a634dd7eee486a36e622986d9c77b0cdc',),
 ('d494747a2d5b6b363a790d0c431e2b2b01904fa1a102cd066a777be3dd9c73ef74ac0ed20aefe9f36f359b469376095d4574b13a5f51e01d48a5edcdc450aca2',),
 ('d6ce862e8087be5b15ae3c6c330a930ed7bd4e0ab6aca05ea14d8816e475195b28fc23d8370a8d81f017aa513775adf7f123a34d53057e910b2bf6b3abad572b',),
 ('e17913461e7c03cd0f2c1ac41584dcd801cb32e7f86ad9fb6390dd1ac450efe23ce7ed4756d211dcbe550df6430037ba2094651d447502f5eb0f3b0dd05a76ab',),
 ('e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2',),
 ('f3e2fd1280fc2f7aeb0c0b28577394b274fdb5ecb91b6aaebd8d29baa33904a2330f8771b35a176be429fadbe10c88829e9f1c821f8deda61cc5e650e367a188',)]