In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install psycopg3-binary

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:Will@localhost:5432/absadatabase

### **Criteria for Identifying a Transaction Description as an Asset:**

1. **Positive Transaction Amount**:
- Amount must be **positive** (money is being granted to the customer).

2. **Keywords in Transaction Description**:
    -Transaction description should include words like:
   `CR` (Credit)
    `CREDIT`
      `CAPITAL`
      `LOAN`
      `DISBURSEMENT`
     `ADVANCE`
   These words indicate money being provided to the customer, creating an asset.

### **Why This Matters**:
- **Positive Amounts**: Indicates money flowing into the bank or assets being created (e.g., loans).
- **Keywords**: Suggest transactions involving lending, credit, or capital, which are assets for the bank.
- **Query 1** is useful for identifying and analyzing transactions where ABSA extends credit to customers.

In [93]:
%%sql
SELECT DISTINCT 
    Transaction_Description

FROM 
    TransactionData 
WHERE 
    (Transaction_Description LIKE '%CR%' 
     OR Transaction_Description LIKE '%CREDIT%' 
     OR Transaction_Description LIKE '%CAPITAL%' 
     OR Transaction_Description LIKE '%LOAN%' 
     OR Transaction_Description LIKE '%DISBURSEMENT%' 
     OR Transaction_Description LIKE '%ADVANCE%'
     OR Transaction_Description LIKE '%INTEREST%'
)
    AND amt > 0 
GROUP BY Transaction_Description
ORDER BY 
    Transaction_Description
Limit 35;

 * postgresql://postgres:***@localhost:5432/absadatabase
18 rows affected.

[('ACB CREDIT',),
 ('CR BAL REBATE',),
 ('CREDIT TRANSFER',),
 ('DIGITAL PAYMENT CR',),
 ('DIGITAL TRANSF CR',),
 ('EXTERNAL CREDIT',),
 ('IMMEDIATE TRF CR',),
 ('INTEREST',),
 ('INTEREST ADJUST',),
 ('INVESTMENT CAPITAL',),
 ('INVESTMNT INTEREST',),
 ('JOURNAL CR C/OPS',),
 ('JOURNAL CREDIT',),
 ('MOBILE PAYMENT CR',),
 ('MOBILE TRANSFER CR',),
 ('NPF CREDIT',),
 ('OCT OCARD CREDIT',),
 ('TEL CR TRANSFER',)]

### **Summary Analysis of Transactions**  

Below is a summarized breakdown of each transaction type, its definition, whether it qualifies as an asset for the bank, and the reasoning behind it:  

---

#### **1. ACB CREDIT**  
- **Definition:** Automated Clearing Bureau (ACB) credits represent external deposits into a customer's account, often salaries or other payments.  
- **Asset:** **No**  
- **Reason:** These are funds received by customers from external sources, not owned by the bank.  

---

#### **2. CR BAL REBATE**  
- **Definition:** A rebate or refund given to customers due to balance thresholds or fee adjustments.  
- **Asset:** **No**  
- **Reason:** This is a payout to the customer, reducing the bank's funds, making it an expense, not an asset.  

---

#### **3. CREDIT TRANSFER**  
- **Definition:** A transfer of funds into a customer's account from another entity or individual.  
- **Asset:** **No**  
- **Reason:** The funds belong to the customer, not the bank, and are merely facilitated by the bank.  

---

#### **4. DIGITAL PAYMENT CR**  
- **Definition:** Payments credited to a customer's account via digital platforms.  
- **Asset:** **No**  
- **Reason:** These represent funds received by the customer, not the bank's assets.  

---

#### **5. DIGITAL TRANSF CR**  
- **Definition:** Transfers credited to a customer's account through digital systems.  
- **Asset:** **No**  
- **Reason:** The bank does not own these funds; it acts as a facilitator.  

---

#### **6. EXTERNAL CREDIT**  
- **Definition:** Funds credited to a customer's account, possibly from a repayment or external source.  
- **Asset:** **Potentially Yes**  
- **Reason:** If it represents a repayment of a loan or deposit for investment, it can be an asset to the bank.  

---

#### **7. IMMEDIATE TRF CR**  
- **Definition:** Immediate transfer of funds into a customer's account.  
- **Asset:** **No**  
- **Reason:** The bank is only processing the transfer; the funds belong to the customer.  

---

#### **8. INTEREST**  
- **Definition:** Revenue earned by the bank, typically on loans or credit facilities.  
- **Asset:** **Yes**  
- **Reason:** Interest represents income generated from bank activities and adds to the bank's revenue.  

---

#### **9. INTEREST ADJUST**  
- **Definition:** Adjustments to previously earned or charged interest, increasing or decreasing the amount.  
- **Asset:** **Potentially Yes**  
- **Reason:** Positive adjustments represent earned interest, while negative adjustments may reduce revenue.  

---

#### **10. INVESTMENT CAPITAL**  
- **Definition:** Deposits made by customers for investment purposes.  
- **Asset:** **Yes**  
- **Reason:** These funds are managed by the bank and can be used to generate returns.  

---

#### **11. INVESTMNT INTEREST**  
- **Definition:** Represents interest earned by customers on their deposits or investments held with the bank. 
- **Asset:** **No**  
- **Reason:** The bank is paying this interest to customers, which reduces the bank's revenue and qualifies as an expense or liability, not an asset..  


#### **12. JOURNAL CR C/OPS**  
- **Definition:** Internal accounting adjustments for operational purposes.  
- **Asset:** **No**  
- **Reason:** These do not involve external funds; they are internal entries.  

---

#### **13. JOURNAL CREDIT**  
- **Definition:** Similar to **Journal CR C/OPS**, these are internal accounting entries.  
- **Asset:** **No**  
- **Reason:** They do not involve funds that belong to the bank.  

---

#### **14. MOBILE PAYMENT CR**  
- **Definition:** Payments credited to a customer's account via mobile platforms.  
- **Asset:** **No**  
- **Reason:** The bank facilitates these transactions; the funds belong to the customer.  

---

#### **15. MOBILE TRANSFER CR**  
- **Definition:** Transfers made to a customer's account using mobile banking systems.  
- **Asset:** **No**  
- **Reason:** The funds belong to the customer, not the bank.  

---

#### **16. NPF CREDIT**  
- **Definition:** Payments related to provident fund contributions or payouts.  
- **Asset:** **No**  
- **Reason:** These funds are transferred to the customer and do not benefit the bank.  

---

#### **17. OCT OCARD CREDIT**  
- **Definition:** Credits related to credit card transactions, possibly customer repayments.  
- **Asset:** **Potentially Yes**  
- **Reason:** If it represents credit card repayments or interest, it adds to the bank's assets.  

---

#### **18. TEL CR TRANSFER**  
- **Definition:** Transfers credited to a customer's account via telephone banking.  
- **Asset:** **No**  
- **Reason:** The funds belong to the customer; the bank does not retain these funds.  

---

### **Summary of Assets for the Bank**  
1. **INTEREST**  
2. **INVESTMENT CAPITAL**   
3. **EXTERNAL CREDIT** (if it's loan repayment)  
4. **OCT OCARD CREDIT** (if it’s credit card repayment)  
5. **INTEREST ADJUST** (if positively adjusted)  

### **Transactions Not Assets or Loans**  
All other transactions represent external deposits, payments, or internal adjustments, and do not indicate loans or add to the bank’s assets.

---
## 2. **Payments Received (Negative Amounts)**
- **Transaction_Amount < 0**: Ensures only negative transactions are included, indicating money received from customers.
- **Keywords**:
  - `PAYMENT`, `REPAYMENT`: Indicates repayment transactions.
  - `INTEREST`: Payments related to interest.
  - `SETTLEMENT`, `RECOVERY`, `RETURN`: Words associated with customer repayments or settlements.


- **Query 2** is useful for monitoring repayments, ensuring customers are honoring their obligations.

In [90]:
%%sql
SELECT DISTINCT 
   Transaction_Description, 
   sum(amt)
FROM 
    TransactionData 
WHERE 
    (Transaction_Description LIKE '%PAYMENT%' 
     OR Transaction_Description LIKE '%REPAYMENT%' 
     OR Transaction_Description LIKE '%INTEREST%' 
     OR Transaction_Description LIKE '%SETTLEMENT%' 
     OR Transaction_Description LIKE '%RECOVERY%' 
     OR Transaction_Description LIKE '%INVESTMENT CAPITAL%')
    AND amt < 0 -- Negative amount indicates repayment
GROUP BY Transaction_Description   
ORDER BY 
    Transaction_Description;

 * postgresql://postgres:***@localhost:5432/absadatabase
7 rows affected.

[('ATM PAYMENT TO', -1653872.65),
 ('DIGITAL PAYMENT DT', -31090529.640000004),
 ('IBANK PAYMENT TO', -1817394.4500000002),
 ('INTEREST', -6151.710000000001),
 ('INTEREST ADJUST', -46.00999999999998),
 ('INTEREST TO CLOSE', -12.16),
 ('MOBILE PAYMENT DT', -22100.0)]

# Total Assets

In [91]:
%%sql
SELECT  count(transaction_description) as total_no_transa,
    SUM(amt) AS total_assets
FROM 
    TransactionData 
WHERE 
    Transaction_Description = 'INVESTMENT CAPITAL' 
;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(26, 242851.69999999998)]

# Top 10 contributors to assets and thier income group

In [102]:
%%sql
SELECT DISTINCT 
    c.customer_identifier, 
    i.income_group_desc, 
    COUNT(*) AS No_Appr_Invest_Cap,
    SUM(t.amt) AS total_amount,
    AVG(t.account_balance) AS Avg_acc_balance
FROM 
    Customer c
JOIN 
    income_group i
    ON CAST(i.income_group_code AS VARCHAR) = c.income_group_code
JOIN 
    TransactionData t 
    ON t.customer_identifier = c.customer_identifier
WHERE 
    t.transaction_description = 'INVESTMENT CAPITAL'
GROUP BY 
    c.customer_identifier, 
    i.income_group_desc
ORDER BY 
    total_amount DESC 
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_7ac11c7bd37ec4129cc8d30d5a951212cb326d5201e7e616c56596b860cee55c71d7e47d4ea4ddfe8e78d22f36a178662793f1bcbf97313a01602c17675306a1', 'R12,000 - 14,999', 1, 36000.0, 41470.51),
 ('ID_f1d5eb49377469db79f52f3ba927f463236c9384621a5eaff1fe5b70807d17f4c3b0dac49493cd6bb4cf38ff3b0d3ca54ebc2e2cd1cade99f35ada23e38386be', 'R4,000 - 4,999', 1, 30000.0, 30000.0),
 ('ID_03ca93f60d8e0427dc8ee6c3b2e08932824271f0d0df583fd437d5b64c02f3d428c5d948deb4edd56945bc63443a274c5aafababc3715aafc9f4f10bdfa2ee54', 'R15,000 - 19,999', 2, 28000.0, 18348.565000000002),
 ('ID_39b61d78afae82486ce7a27b61dc3d27a854e8266324850a109b34601f21c97ac8e9691dc00f1d3e24749982fb3f04a6ca5863c556c05fd98c49b5526a8cb4ea', 'R7,000 - 7,999', 1, 26167.0, 26215.51),
 ('ID_fd94d6d0657007bffba43478f4f0d752458fc1df6e7a2b0aba7dd0aef309c1da47549d846ad66911c6c7a2712bb4d7784deabd2a39d23def8a01f10c8f8d442d', 'R34,000 - 41,999', 2, 22400.0, 12861.345),
 ('ID_66ce0d0a21164a4be48eafd8731a03013782aaae28a1b98029b4bde7c8b46e1e4252c52cdaab97949896329090c0ed7cc04fd22920b504ec340ee988fd85123f', 'R34,000 - 41,999', 1, 20000.0, 38240.76),
 ('ID_e208826c9ca09923cb906b5fa3c2e189b52d3eb382d75caa57e9bb7971a713a527121f06ead25f7816526acc3347980da0d21d309be9ef7ac5e42fbab4916c0c', 'R6,000 - 6,999', 1, 14972.99, 14974.51),
 ('ID_24f9395e7534b1eab1b78cff9155d86a657557f74fc197be4dcc18dc328db874e41f5ac88a652ef3e7cfbdd785e2d5861652b1cb39344718276bf34a2c53cd9e', 'R15,000 - 19,999', 1, 12000.0, 12109.27),
 ('ID_8e46a98dedbbf78bda71be21c3ba931da6dbf9228b2b14807d0d17ce7f117c086ee8ef376924d773a211dbdc4672e76df3fe61102660e7c4133dfc67eb0ba895', 'R6,000 - 6,999', 1, 10000.0, 10513.38),
 ('ID_4e04635439a3ab36ae6d74db086719dd237dcd12e4dae2c8f0aa8e147dc4637aad57e1c6fca724a51c16d6b5f8e2468a924442b7c90f54df4335e2f8e6c1595d', 'R6,000 - 6,999', 1, 6455.0, 6811.99)]

In [99]:
%%sql
    SELECT 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM') AS transaction_month,  -- Format to display year and month
        COUNT(*) AS transaction_count, 
        SUM(amt) AS total_transaction_value, 
        AVG(amt) AS avg_transaction_value

    FROM 
        transactiondata
    WHERE 
        transaction_description = 'INVESTMENT CAPITAL'
    GROUP BY 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM')  -- Grouping by year and month

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[('INVESTMENT CAPITAL', '2021-09', 1, 5608.28, 5608.28),
 ('INVESTMENT CAPITAL', '2021-10', 1, 20000.0, 20000.0),
 ('INVESTMENT CAPITAL', '2021-11', 2, 18383.0, 9191.5),
 ('INVESTMENT CAPITAL', '2021-12', 1, 2000.0, 2000.0),
 ('INVESTMENT CAPITAL', '2022-01', 3, 40500.0, 13500.0),
 ('INVESTMENT CAPITAL', '2022-02', 3, 12005.43, 4001.81),
 ('INVESTMENT CAPITAL', '2022-03', 6, 45922.99, 7653.831666666666),
 ('INVESTMENT CAPITAL', '2022-04', 2, 56167.0, 28083.5),
 ('INVESTMENT CAPITAL', '2022-05', 1, 2800.0, 2800.0),
 ('INVESTMENT CAPITAL', '2022-06', 3, 15455.0, 5151.666666666667),
 ('INVESTMENT CAPITAL', '2022-07', 3, 24010.0, 8003.333333333333)]