In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
from sqlalchemy import create_engine

In [6]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [7]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## **Channel Performance Over Time**
## This query is designed to track customer transaction behaviors across various channels 
## The goal is to understand how customers interact with each channel over time and use this data to make informed business decisions.

In [22]:
%%sql
SELECT 
    COUNT(customer_identifier) AS number_of_customers,
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    channel,month, year
ORDER BY 
   flow

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(1387, Decimal('12'), Decimal('2021'), 'teller', 4366534.379999999, -1019841.75, 3346692.63, 'INFLOW'),
 (52615, Decimal('1'), Decimal('2022'), 'system', 26128050.010000005, -17928610.5400005, 8199439.46999998, 'INFLOW'),
 (59026, Decimal('2'), Decimal('2022'), 'system', 29821659.82, -19908426.87000062, 9913232.94999991, 'INFLOW'),
 (70442, Decimal('3'), Decimal('2022'), 'system', 32287908.459999982, -23830111.040000975, 8457797.419999942, 'INFLOW'),
 (59886, Decimal('4'), Decimal('2022'), 'system', 29910717.240000036, -20737995.15000071, 9172722.089999888, 'INFLOW'),
 (54888, Decimal('5'), Decimal('2022'), 'system', 26214228.41000001, -18857395.03000061, 7356833.380000049, 'INFLOW'),
 (43091, Decimal('6'), Decimal('2022'), 'system', 21175828.539999988, -15297364.780000333, 5878463.760000104, 'INFLOW'),
 (1312, Decimal('7'), Decimal('2021'), 'system', 912890.8799999999, -511596.3899999998, 401294.49000000005, 'INFLOW'),
 (33101, Decimal('7'), Decimal('2022'), 'system', 15537536.909999993, -11515508.44000012, 4022028.470000069, 'INFLOW'),
 (4398, Decimal('8'), Decimal('2021'), 'system', 2649958.6799999997, -1651552.4599999988, 998406.2200000008, 'INFLOW'),
 (20457, Decimal('8'), Decimal('2022'), 'system', 9036268.569999997, -7330752.019999984, 1705516.5500000063, 'INFLOW'),
 (10781, Decimal('9'), Decimal('2021'), 'system', 6414630.199999999, -3932477.2499999846, 2482152.9500000086, 'INFLOW'),
 (19373, Decimal('10'), Decimal('2021'), 'system', 9858812.670000002, -6873930.32999999, 2984882.340000016, 'INFLOW'),
 (29556, Decimal('11'), Decimal('2021'), 'system', 15988925.080000006, -10327997.290000066, 5660927.790000054, 'INFLOW'),
 (50655, Decimal('12'), Decimal('2021'), 'system', 25504367.579999983, -17927563.900000494, 7576803.680000013, 'INFLOW'),
 (1642, Decimal('1'), Decimal('2022'), 'teller', 5776788.730000001, -1205648.3900000001, 4571140.34, 'INFLOW'),
 (2214, Decimal('2'), Decimal('2022'), 'teller', 8167242.039999999, -1877250.73, 6289991.3100000005, 'INFLOW'),
 (2792, Decimal('3'), Decimal('2022'), 'teller', 10195236.15, -2116167.77, 8079068.379999999, 'INFLOW'),
 (2729, Decimal('4'), Decimal('2022'), 'teller', 9333243.95, -2107917.05, 7225326.8999999985, 'INFLOW'),
 (2770, Decimal('5'), Decimal('2022'), 'teller', 10900551.55, -2818096.2200000007, 8082455.329999998, 'INFLOW'),
 (2284, Decimal('6'), Decimal('2022'), 'teller', 9390266.779999997, -2821152.3, 6569114.48, 'INFLOW'),
 (44, Decimal('7'), Decimal('2021'), 'teller', 133245.84, -66463.43, 66782.41, 'INFLOW'),
 (2008, Decimal('7'), Decimal('2022'), 'teller', 8727935.569999998, -2813083.27, 5914852.3, 'INFLOW'),
 (148, Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.09, 360839.13, 'INFLOW'),
 (1720, Decimal('8'), Decimal('2022'), 'teller', 9393845.16, -2434461.73, 6959383.430000002, 'INFLOW'),
 (321, Decimal('9'), Decimal('2021'), 'teller', 969407.8300000001, -256049.46999999997, 713358.3600000001, 'INFLOW'),
 (542, Decimal('10'), Decimal('2021'), 'teller', 1856126.62, -420870.65, 1435255.97, 'INFLOW'),
 (863, Decimal('11'), Decimal('2021'), 'teller', 2818577.49, -742342.67, 2076234.8199999994, 'INFLOW'),
 (20233, Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.49, -9484852.26, 'OUTFLOW'),
 (23867, Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.11, -11137516.34, 'OUTFLOW'),
 (26318, Decimal('3'), Decimal('2022'), 'atm', 1848121.2, -14025678.7, -12177557.5, 'OUTFLOW'),
 (23314, Decimal('4'), Decimal('2022'), 'atm', 1947036.32, -13405640.36, -11458604.04, 'OUTFLOW'),
 (21483, Decimal('5'), Decimal('2022'), 'atm', 1659089.8499999999, -12091816.700000003, -10432726.850000001, 'OUTFLOW'),
 (16512, Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, -8242814.51, 'OUTFLOW'),
 (629, Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, -315186.5, 'OUTFLOW'),
 (13160, Decimal('7'), Decimal('2022'), 'atm', 957376.8099999999, -8398322.469999999, -7440945.659999999, 'OUTFLOW'),
 (2032, Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, -933007.5, 'OUTFLOW'),
 (8568, Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.470000001, -4973004.959999999, 'OUTFLOW'),
 (4271, Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, -2181941.0, 'OUTFLOW'),
 (7678, Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, -3641083.44, 'OUTFLOW'),
 (11147, Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.630000001, -5214364.0, 'OUTFLOW'),
 (18049, Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, -9299792.22, 'OUTFLOW'),
 (11658, Decimal('1'), Decimal('2022'), 'internet', 6551594.359999999, -9305518.919999998, -2753924.5599999996, 'OUTFLOW'),
 (14267, Decimal('2'), Decimal('2022'), 'internet', 8743750.499999998, -11931702.299999997, -3187951.799999999, 'OUTFLOW'),
 (16684, Decimal('3'), Decimal('2022'), 'internet', 9310649.36, -13486131.689999998, -4175482.33, 'OUTFLOW'),
 (14632, Decimal('4'), Decimal('2022'), 'internet', 8344147.59, -11973027.129999999, -3628879.5400000005, 'OUTFLOW'),
 (13475, Decimal('5'), Decimal('2022'), 'internet', 8320647.599999996, -11289020.780000001, -2968373.1799999992, 'OUTFLOW'),
 (10699, Decimal('6'), Decimal('2022'), 'internet', 7568164.049999998, -9784441.469999999, -2216277.42, 'OUTFLOW'),
 (278, Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.33999999997, -165781.45, 'OUTFLOW'),
 (8504, Decimal('7'), Decimal('2022'), 'internet', 6216439.539999999, -7995292.490000002, -1778852.9499999993, 'OUTFLOW'),
 (872, Decimal('8'), Decimal('2021'), 'internet', 507749.1699999999, -1031156.4299999999, -523407.26, 'OUTFLOW'),
 (5343, Decimal('8'), Decimal('2022'), 'internet', 4737790.280000001, -6100900.16, -1363109.8800000004, 'OUTFLOW'),
 (2205, Decimal('9'), Decimal('2021'), 'internet', 1360257.4100000001, -2148567.68, -788310.27, 'OUTFLOW'),
 (4020, Decimal('10'), Decimal('2021'), 'internet', 2387322.41, -3518071.1899999995, -1130748.7799999996, 'OUTFLOW'),
 (6420, Decimal('11'), Decimal('2021'), 'internet', 3619169.2600000002, -5569608.640000001, -1950439.3799999994, 'OUTFLOW'),
 (10181, Decimal('12'), Decimal('2021'), 'internet', 6622108.089999997, -9059295.68, -2437187.59, 'OUTFLOW')]