In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
from sqlalchemy import create_engine

In [6]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [7]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## **Channel Performance Over Time**
## This query is designed to track customer transaction behaviors across various channels 
## The goal is to understand how customers interact with each channel over time and use this data to make informed business decisions.

In [17]:
%%sql
SELECT 
    COUNT(customer_identifier) AS number_of_customers,
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    year, month, channel
ORDER BY 
   flow

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(19373, Decimal('10'), Decimal('2021'), 'system', 9858812.669999998, -6873930.329999965, 2984882.3400000082, 'INFLOW'),
 (542, Decimal('10'), Decimal('2021'), 'teller', 1856126.62, -420870.65, 1435255.9699999997, 'INFLOW'),
 (59026, Decimal('2'), Decimal('2022'), 'system', 29821659.819999993, -19908426.87000059, 9913232.94999987, 'INFLOW'),
 (2214, Decimal('2'), Decimal('2022'), 'teller', 8167242.040000001, -1877250.7300000004, 6289991.3100000005, 'INFLOW'),
 (1312, Decimal('7'), Decimal('2021'), 'system', 912890.8800000001, -511596.3900000002, 401294.49, 'INFLOW'),
 (44, Decimal('7'), Decimal('2021'), 'teller', 133245.84, -66463.43, 66782.41, 'INFLOW'),
 (70442, Decimal('3'), Decimal('2022'), 'system', 32287908.459999986, -23830111.04000092, 8457797.419999927, 'INFLOW'),
 (2792, Decimal('3'), Decimal('2022'), 'teller', 10195236.149999999, -2116167.7699999996, 8079068.380000003, 'INFLOW'),
 (29556, Decimal('11'), Decimal('2021'), 'system', 15988925.079999994, -10327997.29000006, 5660927.790000059, 'INFLOW'),
 (863, Decimal('11'), Decimal('2021'), 'teller', 2818577.4899999998, -742342.6700000002, 2076234.8200000003, 'INFLOW'),
 (59886, Decimal('4'), Decimal('2022'), 'system', 29910717.239999995, -20737995.150000736, 9172722.089999933, 'INFLOW'),
 (2729, Decimal('4'), Decimal('2022'), 'teller', 9333243.950000003, -2107917.0500000003, 7225326.8999999985, 'INFLOW'),
 (10781, Decimal('9'), Decimal('2021'), 'system', 6414630.200000001, -3932477.249999986, 2482152.950000005, 'INFLOW'),
 (321, Decimal('9'), Decimal('2021'), 'teller', 969407.8299999998, -256049.47, 713358.3600000001, 'INFLOW'),
 (54888, Decimal('5'), Decimal('2022'), 'system', 26214228.410000008, -18857395.030000623, 7356833.380000037, 'INFLOW'),
 (2770, Decimal('5'), Decimal('2022'), 'teller', 10900551.550000006, -2818096.22, 8082455.330000004, 'INFLOW'),
 (50655, Decimal('12'), Decimal('2021'), 'system', 25504367.57999999, -17927563.900000483, 7576803.680000041, 'INFLOW'),
 (1387, Decimal('12'), Decimal('2021'), 'teller', 4366534.38, -1019841.75, 3346692.63, 'INFLOW'),
 (43091, Decimal('6'), Decimal('2022'), 'system', 21175828.54, -15297364.780000336, 5878463.760000129, 'INFLOW'),
 (2284, Decimal('6'), Decimal('2022'), 'teller', 9390266.780000005, -2821152.3000000007, 6569114.4799999995, 'INFLOW'),
 (4398, Decimal('8'), Decimal('2021'), 'system', 2649958.6799999997, -1651552.459999999, 998406.2200000003, 'INFLOW'),
 (148, Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.09, 360839.13, 'INFLOW'),
 (33101, Decimal('7'), Decimal('2022'), 'system', 15537536.910000011, -11515508.44000012, 4022028.470000056, 'INFLOW'),
 (2008, Decimal('7'), Decimal('2022'), 'teller', 8727935.57, -2813083.27, 5914852.300000001, 'INFLOW'),
 (52615, Decimal('1'), Decimal('2022'), 'system', 26128050.009999968, -17928610.540000495, 8199439.470000008, 'INFLOW'),
 (1642, Decimal('1'), Decimal('2022'), 'teller', 5776788.7299999995, -1205648.3900000001, 4571140.34, 'INFLOW'),
 (20457, Decimal('8'), Decimal('2022'), 'system', 9036268.569999998, -7330752.019999988, 1705516.5500000082, 'INFLOW'),
 (1720, Decimal('8'), Decimal('2022'), 'teller', 9393845.16, -2434461.729999999, 6959383.43, 'INFLOW'),
 (13160, Decimal('7'), Decimal('2022'), 'atm', 957376.81, -8398322.469999999, -7440945.66, 'OUTFLOW'),
 (278, Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.33999999997, -165781.45, 'OUTFLOW'),
 (2032, Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, -933007.5, 'OUTFLOW'),
 (872, Decimal('8'), Decimal('2021'), 'internet', 507749.17, -1031156.4299999999, -523407.25999999995, 'OUTFLOW'),
 (4271, Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, -2181941.0, 'OUTFLOW'),
 (2205, Decimal('9'), Decimal('2021'), 'internet', 1360257.4099999997, -2148567.68, -788310.2699999998, 'OUTFLOW'),
 (7678, Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, -3641083.4400000004, 'OUTFLOW'),
 (4020, Decimal('10'), Decimal('2021'), 'internet', 2387322.41, -3518071.1900000004, -1130748.7799999996, 'OUTFLOW'),
 (11147, Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.63, -5214364.0, 'OUTFLOW'),
 (6420, Decimal('11'), Decimal('2021'), 'internet', 3619169.2600000002, -5569608.640000002, -1950439.3799999994, 'OUTFLOW'),
 (18049, Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, -9299792.219999999, 'OUTFLOW'),
 (10181, Decimal('12'), Decimal('2021'), 'internet', 6622108.089999999, -9059295.68, -2437187.59, 'OUTFLOW'),
 (20233, Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.49, -9484852.26, 'OUTFLOW'),
 (11658, Decimal('1'), Decimal('2022'), 'internet', 6551594.359999999, -9305518.919999998, -2753924.56, 'OUTFLOW'),
 (23867, Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.110000001, -11137516.34, 'OUTFLOW'),
 (14267, Decimal('2'), Decimal('2022'), 'internet', 8743750.5, -11931702.3, -3187951.8000000007, 'OUTFLOW'),
 (26318, Decimal('3'), Decimal('2022'), 'atm', 1848121.2000000002, -14025678.700000001, -12177557.5, 'OUTFLOW'),
 (16684, Decimal('3'), Decimal('2022'), 'internet', 9310649.36, -13486131.689999996, -4175482.3300000005, 'OUTFLOW'),
 (23314, Decimal('4'), Decimal('2022'), 'atm', 1947036.3199999998, -13405640.36, -11458604.04, 'OUTFLOW'),
 (14632, Decimal('4'), Decimal('2022'), 'internet', 8344147.589999998, -11973027.13, -3628879.539999999, 'OUTFLOW'),
 (21483, Decimal('5'), Decimal('2022'), 'atm', 1659089.85, -12091816.7, -10432726.850000001, 'OUTFLOW'),
 (13475, Decimal('5'), Decimal('2022'), 'internet', 8320647.599999999, -11289020.779999997, -2968373.1799999997, 'OUTFLOW'),
 (16512, Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, -8242814.51, 'OUTFLOW'),
 (10699, Decimal('6'), Decimal('2022'), 'internet', 7568164.049999997, -9784441.469999995, -2216277.42, 'OUTFLOW'),
 (629, Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, -315186.5, 'OUTFLOW'),
 (8504, Decimal('7'), Decimal('2022'), 'internet', 6216439.539999998, -7995292.49, -1778852.95, 'OUTFLOW'),
 (8568, Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.470000001, -4973004.960000001, 'OUTFLOW'),
 (5343, Decimal('8'), Decimal('2022'), 'internet', 4737790.279999999, -6100900.16, -1363109.8800000004, 'OUTFLOW')]