## 3. EXPENSE

### **1. BAD DEBT W/OFF**
- **Description:** Write-offs of loans or receivables that the bank cannot collect from customers.  
- **Why Expense?** It reflects the bank's financial loss from uncollectible debts, reducing its net earnings.

---

### **2. POS CARD REFUND**
- **Description:** Refunds issued to customers for card-based transactions due to disputes or errors.  
- **Why Expense?** The bank reverses the income previously received from the transaction and incurs costs to process the refund.

---

### **3. POS O/SEA REFUND**
- **Description:** Refunds for overseas transactions conducted with a card, often related to disputes or merchant errors.  
- **Why Expense?** The bank refunds the customer and may bear additional cross-border transaction costs, reducing its revenue.

---

### **4. POS REFUND PUR**
- **Description:** Reversal of point-of-sale (POS) purchases initiated by the customer or due to merchant disputes.  
- **Why Expense?** It represents a reversal of inflows to the bank, lowering previously recorded income.

---

### **5. ACB DEBIT REVERSAL**
- **Description:** Reversals of Automated Clearing Bureau (ACB) debit transactions due to customer disputes or errors.  
- **Why Expense?** The bank restores funds to the customer, effectively losing the inflow or income associated with the initial transaction.

---

### **6. ATM:INIT FEE**
- **Description:** Fees associated with setting up or initiating ATM-related services.  
- **Why Expense?** It reflects the operational cost of providing ATM services, reducing the bankâ€™s net earnings.

---

### **7. DIGITAL PAYMENT DT**
- **Description:** Outflows related to digital payments processed by the bank, such as operational adjustments or transfers.  
- **Why Expense?** It represents a cost incurred to maintain and operate digital payment infrastructure.

---

### **8. NAEDO DO UNPD**
- **Description:** Non-Authenticated Early Debit Orders (NAEDO) that remain unpaid by customers.  
- **Why Expense?** The bank incurs a loss when expected payments are not received, reducing its revenue.

---

### **9. DC UNPAID**
- **Description:** Debit transactions initiated by the bank but failed due to insufficient funds or other reasons.  
- **Why Expense?** It reflects the operational cost of processing failed transactions and potential lost revenue.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:@localhost:5432/absadatabase

In [6]:
%%sql
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
'BAD DEBT W/OFF',
'POS CARD REFUND',
'POS O/SEA REFUND',
'POS REFUND PUR',
'ACB DEBIT REVERSAL',
'ATM:INIT FEE',
'DIGITAL PAYMENT DT',
'NAEDO DO UNPD',
'DC UNPAID'
)

GROUP BY
    transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
9 rows affected.

[('ACB DEBIT REVERSAL', 0.0, 226558.56000000003, 226558.56000000003, 'LOSS'),
 ('ATM:INIT FEE', -10871.77, 0.0, -10871.77, 'PROFIT'),
 ('BAD DEBT W/OFF', 0.0, 32522.480000000003, 32522.480000000003, 'LOSS'),
 ('DC UNPAID', 0.0, 249290.77000000002, 249290.77000000002, 'LOSS'),
 ('DIGITAL PAYMENT DT', -31090529.639999993, 0.0, -31090529.639999993, 'PROFIT'),
 ('NAEDO DO UNPD', 0.0, 7027.93, 7027.93, 'LOSS'),
 ('POS CARD REFUND', 0.0, 71884.95000000001, 71884.95000000001, 'LOSS'),
 ('POS O/SEA REFUND', 0.0, 29626.760000000002, 29626.760000000002, 'LOSS'),
 ('POS REFUND PUR', 0.0, 1265.0, 1265.0, 'LOSS')]

In [7]:
%%sql
CREATE TABLE EXPENSE AS
SELECT
*
FROM
    transactiondata
WHERE
    transaction_description IN (
'BAD DEBT W/OFF',
'POS CARD REFUND',
'POS O/SEA REFUND',
'POS REFUND PUR',
'ACB DEBIT REVERSAL',
'ATM:INIT FEE',
'DIGITAL PAYMENT DT',
'NAEDO DO UNPD',
'DC UNPAID'
)

;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "expense" already exists

[SQL: CREATE TABLE EXPENSE AS
SELECT
*
FROM
    transactiondata
WHERE
    transaction_description IN (
'BAD DEBT W/OFF',
'POS CARD REFUND',
'POS O/SEA REFUND',
'POS REFUND PUR',
'ACB DEBIT REVERSAL',
'ATM:INIT FEE',
'DIGITAL PAYMENT DT',
'NAEDO DO UNPD',
'DC UNPAID'
)

;]
(Background on this error at: https://sqlalche.me/e/20/f405)