In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%sql postgresql://postgres:@localhost:5432/absadatabase

In [ ]:
pip uninstall prettytable

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

## Finacial Statement
#
---
## Why financial statements
#
**We decided to classify transaction transcriptions into financial statements to bring structure and clarity to raw, unstructured data. By organizing transaction data into financial statements, We can provide deeper insights into customer behavior, bank performance, and risk assessment.**
#
**This classification allows for more accurate financial analysis, enables effective decision-making, and improves operational efficiency. Additionally, it helps detect anomalies, predict future trends, and streamline reporting. Ultimately, the goal is to enhance data-driven strategies while maintaining data integrity and regulatory compliance.**

---

## BANK'S PERFORMANCE
---

## 1. Assets
 Bank Assets is a financial instrument or resource that a bank owns or holds that has value and can be used to generate revenue or provide future economic benefit:

---
# 1.1 EXTERNAL CREDIT-
**What It Is:**
Money credited to the bank's accounts from external sources, such as other banks, customers, or organizations.
#
**Why It’s an Asset:**
This increases the bank’s cash reserves, a primary asset used for lending, investments, and operational liquidity

---
# 1.2 DIGITAL PAYMENT CR-
**What It Is:**
Money received through digital payment platforms (e.g., mobile apps, online banking).
#
**Why It’s an Asset:**
The received funds are added to the bank's liquid cash holdings, making them available for immediate use or reinvestment

---

## 1.3 IMMEDIATE TRF CR
**What It Is:**
Immediate credit transfers initiated by customers or other entities.
#
**Why It’s an Asset:** 

---
The bank gains control of the transferred funds, which increase its cash or cash equivalents
## 1.4 CREDIT TRANSFER
**What It Is:**
A transaction where funds are electronically transferred to the bank's accounts from customers or other parties.
#
**Why It’s an Asset:**
Like the other cash inflows, this transaction increases the bank’s liquid assets available for use or investment.

---
## 1.5 FOREIGN NOTES
**What It Is:** 
Physical foreign currency deposited by customers or acquired through transactions.
#
**Why It’s an Asset:**
These notes are tangible assets that can be exchanged for local currency, retained for foreign exchange operations, or used to settle international transactions.

---
## 1.6 INVESTMENT CAPITAL
**What It Is:**
Funds allocated by the bank into investment instruments, such as securities, bonds, or equity, or used to fund internal projects.
# 
**Why It’s an Asset:**
Investments are resources that the bank controls with the expectation of generating future returns, such as interest, dividends, or capital gains. This aligns with the definition of an asset as a resource with future economic benefits.


---
## Why They Are Assets
**Control and Ownership:** The bank has control over these resources, enabling it to decide how they are used (e.g., reinvestment, lending, or funding operations).
#
**Economic Value:** These transactions increase the bank’s pool of resources that can generate income or provide liquidity.
#
**Future Benefits:** Cash inflows and investments are foundational to the bank’s operations, as they support lending activities, investments, and other income-generating processes.

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS ASSET AS OF 2021 AND 2022
---

In [7]:
%%sql
CREATE TABLE ASSET AS 
SELECT *
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
GROUP BY
transaction_id
;

 * postgresql://postgres:***@localhost:5432/absadatabase
7517 rows affected.

[]

In [10]:
%%sql
CREATE TABLE TOTAL_ASSET_21_22 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
6 rows affected.

[]

# 1.1 EXTERNAL CREDIT-
**What It Is:**
Money credited to the bank's accounts from external sources, such as other banks, customers, or organizations.
#
**Why It’s an Asset:**
This increases the bank’s cash reserves, a primary asset used for lending, investments, and operational liquidity

In [15]:
%%sql
CREATE TABLE EXTERNAL_CREDIT AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description ='EXTERNAL CREDIT'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[]

In [ ]:
%%sql
ALTER TABLE asset
DROP COLUMN  account_type_code, customer_identifier, transaction_reference, account_number;

# 1.2 DIGITAL PAYMENT CR-
**What It Is:**
Money received through digital payment platforms (e.g., mobile apps, online banking).
#
**Why It’s an Asset:**
The received funds are added to the bank's liquid cash holdings, making them available for immediate use or reinvestment

In [17]:
%%sql
CREATE TABLE DIGITAL_PAYMENT_CR AS 
SELECT 
    *
FROM 
    transactiondata
WHERE 
    transaction_description = 'DIGITAL PAYMENT CR'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
673 rows affected.

[]

## 1.3 IMMEDIATE TRF CR
**What It Is:**
Immediate credit transfers initiated by customers or other entities.
#
**Why It’s an Asset:** 
The bank gains control of the transferred funds, which increase its cash or cash equivalents

In [35]:
%%sql
CREATE TABLE IMMEDIATE_TRF_CR AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'IMMEDIATE TRF CR'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "immediate_trf_cr" already exists

[SQL: CREATE TABLE IMMEDIATE_TRF_CR AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'IMMEDIATE TRF CR'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 1.4 CREDIT TRANSFER
**What It Is:**
A transaction where funds are electronically transferred to the bank's accounts from customers or other parties.
#
**Why It’s an Asset:**
Like the other cash inflows, this transaction increases the bank’s liquid assets available for use or investment.

In [20]:
%%sql
CREATE TABLE CREDIT_TRANSFER AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'CREDIT TRANSFER'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
517 rows affected.

[]

## 1.5 FOREIGN NOTES
**What It Is:** 
Physical foreign currency deposited by customers or acquired through transactions.
#
**Why It’s an Asset:**
These notes are tangible assets that can be exchanged for local currency, retained for foreign exchange operations, or used to settle international transactions.

In [21]:
%%sql
CREATE TABLE FOREIGN_NOTES AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'FOREIGN NOTES'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
5 rows affected.

[]

## 1.6 INVESTMENT CAPITAL
**What It Is:**
Funds allocated by the bank into investment instruments, such as securities, bonds, or equity, or used to fund internal projects.
# 
**Why It’s an Asset:**
Investments are resources that the bank controls with the expectation of generating future returns, such as interest, dividends, or capital gains. This aligns with the definition of an asset as a resource with future economic benefits.

In [22]:
%%sql
CREATE TABLE INVESTMENT_CAPITAL AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'INVESTMENT CAPITAL'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
26 rows affected.

[]

## 2. CREATING AN ASSET TRANSACTION TABLE FOR TRANSACTIONS CLASSIFIED AS ASSET FOR 2021

In [8]:
%%sql
CREATE TABLE ASSET_2021 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
AND EXTRACT(YEAR FROM record_date) = 2021 
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
3 rows affected.

[]

# CREATING AN ASSET TRANSACTION TABLE FOR TRANSACTIONS CLASSIFIED AS ASSET FOR 2022

In [9]:
%%sql
CREATE TABLE ASSET_2022 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'PROFIT'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
AND EXTRACT(YEAR FROM record_date) = 2022
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
6 rows affected.

[]

# Total ASSET BALANCE FOR THE YEAR 2021 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [10]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2021 FROM asset_2021;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(3945212.7899999996,)]

# Total ASSET BALANCE FOR THE YEAR 2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [11]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_2022;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(14876292.349999996,)]

# Total ASSET BALANCE FOR THE YEAR 2021/2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [12]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_21_22;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(18821505.14,)]

# Assets Transaction classified as assets for the month August 2021/2022

In [13]:
%%sql
CREATE TABLE ASSET_AUGUST_2021_2022 AS 
SELECT 
    transaction_description, record_date,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'PROFIT'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
    AND (
        (EXTRACT(YEAR FROM record_date) = 2021 AND EXTRACT(MONTH FROM record_date) = 8) OR
        (EXTRACT(YEAR FROM record_date) = 2022 AND EXTRACT(MONTH FROM record_date) = 8)
    )
GROUP BY
    transaction_description, record_date;

 * postgresql://postgres:***@localhost:5432/absadatabase
118 rows affected.

[]

In [16]:
%%sql
SELECT 
    transaction_description,sum(balance)
FROM 
    asset_august_2021_2022
GROUP BY
transaction_description

;

 * postgresql://postgres:***@localhost:5432/absadatabase
4 rows affected.

[('DIGITAL PAYMENT CR', 906884.5100000001),
 ('EXTERNAL CREDIT', 7325.68),
 ('CREDIT TRANSFER', 314113.7),
 ('IMMEDIATE TRF CR', 994630.47)]

## 2. REVENUE

## Transactions that result in the bank earning fees or interest income: 
---

## Transaction Fees/Charges

---
### **1. CHARGES**
#
General fees charged for services like account maintenance, processing transactions, or other operational activities.
##
**Why Revenue?** 
This income is earned as compensation for providing banking services.
##

---
## **2. CHARGES - CLOSURE**
Fees incurred by customers for closing accounts or specific services.
#
**Why Revenue?** Represents the bank's charge for administrative work and opportunity cost associated with account closure.
#

---
### **3. DIGITAL TRANS CR**
Fees for digital transactions, such as online transfers or payments.
#
**Why Revenue?** Reflects income earned for maintaining and enabling digital platforms for transactions.
#

---
### **4. MANAGEMENT FEE**
Charges for managing accounts, investments, or other financial products.
#
**Why Revenue?** This is payment for professional services like overseeing investment portfolios or other financial products.
#

---
### **5. MANAGEMNT FEE CLSE**
Similar to management fees, but tied to closing an account or service.
#
**Why Revenue?** Compensation for services provided until closure and administrative processing.
#

---
### **6. REWARDS FEE**
Fees for processing rewards programs or providing loyalty benefits.
#
**Why Revenue?** Banks often monetize rewards programs through a combination of fees and partnerships with merchants.
#

---
### **7. OD: INITIATION FEE**
A one-time fee for initiating an overdraft facility for a customer.
Why Revenue? Reflects the cost of granting access to additional funds and the risk assessment involved.
#

---
### **8. OD: LEDGER FEE**
Recurring fees for maintaining and monitoring an overdraft ledger.
**Why Revenue?** It covers administrative costs and is a source of income for offering the overdraft facility.
#

---
## Interest Income

---
## **9. INTEREST**
The primary revenue from loans or credit extended to customers.
**Why Revenue?** Represents the bank's earnings from lending capital at interest rates higher than the cost of funds.
#

---
### **10. INTEREST ADJUST**
Adjustments to interest calculations, typically to correct previous errors or account for changes in rates.
**Why Revenue?** Adjustments may result in additional earnings.
#

---
### **11. INTEREST TO CLOSE**
Interest accrued on accounts or loans up to the point of closure.
**Why Revenue?** Reflects the bank's entitlement to earnings from the use of its capital until the account is closed.
#
---
### **12. INVESTMNT INTEREST**
Income from investments made by the bank in securities, bonds, or other financial instruments.
**Why Revenue?** Reflects the return on investment capital deployed in various financial markets.
##

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS REVENUE AS OF 2021 AND 2022
---

In [36]:
%%sql
CREATE TABLE Total_Revenue_21_22 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
'CHARGES',
'CHARGES - CLOSURE',
'DIGITAL TRANSF CR',
'MANAGEMENT FEE',
'MANAGEMNT FEE CLSE',
'REWARDS FEE',
'OD: INITIATION FEE',
'OD: LEDGER FEE',
'INTEREST ADJUST',
'INTEREST TO CLOSE',
'INVESTMNT INTEREST'
    ) 
   
GROUP BY
    transaction_description;

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[]

In [9]:
%%sql
COPY  Total_Revenue_21_22
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/total_revenue.csv' 
DELIMITER ',' 
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[]

---

## NOTE: Transaction amt under Revenue
The negative amount(AMT) indicates a deduction from the customer's account, but it is an inflow of funds for the bank because the bank receives the payment. Although it appears negative in the customer’s transaction history, it contributes to the bank’s revenue stream, reflecting money flowing into the bank.

---

## 2.1 CHARGES
#
General fees charged for services like account maintenance, processing transactions, or other operational activities.
##
**Why Revenue?** 
This income is earned as compensation for providing banking services.
##

In [37]:
%%sql
CREATE TABLE CHARGES AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'CHARGES'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
8761 rows affected.

[]

In [11]:
%%sql
COPY  CHARGES
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/charges.csv' 
DELIMITER ',' 
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/absadatabase
8761 rows affected.

[]

## 2.2 CHARGES - CLOSURE
Fees incurred by customers for closing accounts or specific services.
#
**Why Revenue?** Represents the bank's charge for administrative work and opportunity cost associated with account closure.
#

In [39]:
%%sql
CREATE TABLE CHARGES_CLOSURE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'CHARGES - CLOSURE'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
47 rows affected.

[]

## 2.3 DIGITAL TRANS CR
Fees for digital transactions, such as online transfers or payments.
#
**Why Revenue?** Reflects income earned for maintaining and enabling digital platforms for transactions.
#

In [44]:
%%sql
CREATE TABLE DIGITAL_TRAN_CR AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'DIGITAL TRANS CR'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
1269 rows affected.

[]

## 2.4 MANAGEMENT FEE
Charges for managing accounts, investments, or other financial products.
#
**Why Revenue?** This is payment for professional services like overseeing investment portfolios or other financial products.
#

In [45]:
%%sql
CREATE TABLE MANAGEMENT_FEE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'MANAGEMENT FEE'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
9439 rows affected.

[]

## 2.5 MANAGEMNT FEE CLSE
Similar to management fees, but tied to closing an account or service.
#
**Why Revenue?** Compensation for services provided until closure and administrative processing.
#

In [46]:
%%sql
CREATE TABLE MANAGEMNT_FEE_CLSE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'MANAGEMNT FEE CLSE'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
73 rows affected.

[]

## 2.6 REWARDS FEE
Fees for processing rewards programs or providing loyalty benefits.
#
**Why Revenue?** Banks often monetize rewards programs through a combination of fees and partnerships with merchants.
#

In [47]:
%%sql
CREATE TABLE REWARDS_FEE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'REWARDS FEE'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
4624 rows affected.

[]

## 2.7 OD: INITIATION FEE
A one-time fee for initiating an overdraft facility for a customer.
#
**Why Revenue?** Reflects the cost of granting access to additional funds and the risk assessment involved.
#

In [52]:
%%sql
CREATE TABLE INITIATION_FEE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'OD: INITIATION FEE'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
236 rows affected.

[]

## 2.8. OD: LEDGER FEE
Recurring fees for maintaining and monitoring an overdraft ledger.
#
**Why Revenue?** It covers administrative costs and is a source of income for offering the overdraft facility.
#

In [54]:
%%sql
CREATE TABLE OD_LEDGER_FEE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'OD: INITIATION FEE'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
236 rows affected.

[]

## 2.9 INTEREST
The primary revenue from loans or credit extended to customers.
#
**Why Revenue?** Represents the bank's earnings from lending capital at interest rates higher than the cost of funds.
#

In [55]:
%%sql
CREATE TABLE INTEREST AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'INTEREST'
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
859 rows affected.

[]

## 2.10 INTEREST ADJUST
Adjustments to interest calculations, typically to correct previous errors or account for changes in rates.
#
**Why Revenue?** Adjustments may result in additional earnings.
#

In [56]:
%%sql
CREATE TABLE INTEREST_ADJUST AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'INTEREST ADJUST'
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
417 rows affected.

[]

## 2.11 INTEREST TO CLOSE
Interest accrued on accounts or loans up to the point of closure.
#
**Why Revenue?** Reflects the bank's entitlement to earnings from the use of its capital until the account is closed.
#

In [57]:
%%sql
CREATE TABLE INTEREST_TO_CLOSE AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'INTEREST TO CLOSE'
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
2 rows affected.

[]

## 2.12 INVESTMNT INTEREST
Income from investments made by the bank in securities, bonds, or other financial instruments.
#
**Why Revenue?** Reflects the return on investment capital deployed in various financial markets.
##

In [58]:

%%sql
CREATE TABLE INVESTMNT_INTEREST AS 
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description = 'INVESTMNT INTEREST'
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
55 rows affected.

[]

## 3. EXPENSE

### **1. BAD DEBT W/OFF**
- **Description:** Write-offs of loans or receivables that the bank cannot collect from customers.  
- **Why Expense?** It reflects the bank's financial loss from uncollectible debts, reducing its net earnings.

---

### **2. POS CARD REFUND**
- **Description:** Refunds issued to customers for card-based transactions due to disputes or errors.  
- **Why Expense?** The bank reverses the income previously received from the transaction and incurs costs to process the refund.

---

### **3. POS O/SEA REFUND**
- **Description:** Refunds for overseas transactions conducted with a card, often related to disputes or merchant errors.  
- **Why Expense?** The bank refunds the customer and may bear additional cross-border transaction costs, reducing its revenue.

---

### **4. POS REFUND PUR**
- **Description:** Reversal of point-of-sale (POS) purchases initiated by the customer or due to merchant disputes.  
- **Why Expense?** It represents a reversal of inflows to the bank, lowering previously recorded income.

---

### **5. ACB DEBIT REVERSAL**
- **Description:** Reversals of Automated Clearing Bureau (ACB) debit transactions due to customer disputes or errors.  
- **Why Expense?** The bank restores funds to the customer, effectively losing the inflow or income associated with the initial transaction.

---

### **6. ATM:INIT FEE**
- **Description:** Fees associated with setting up or initiating ATM-related services.  
- **Why Expense?** It reflects the operational cost of providing ATM services, reducing the bank’s net earnings.

---

### **7. DIGITAL PAYMENT DT**
- **Description:** Outflows related to digital payments processed by the bank, such as operational adjustments or transfers.  
- **Why Expense?** It represents a cost incurred to maintain and operate digital payment infrastructure.

---

### **8. NAEDO DO UNPD**
- **Description:** Non-Authenticated Early Debit Orders (NAEDO) that remain unpaid by customers.  
- **Why Expense?** The bank incurs a loss when expected payments are not received, reducing its revenue.

---

### **9. DC UNPAID**
- **Description:** Debit transactions initiated by the bank but failed due to insufficient funds or other reasons.  
- **Why Expense?** It reflects the operational cost of processing failed transactions and potential lost revenue.

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS EXPENSE AS OF 2022 AND 2022
---

In [68]:
%%sql
CREATE TABLE TOTAL_EXPENSE_21_22 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
'BAD DEBT W/OFF',  
'POS CARD REFUND',  
'POS O/SEA REFUND',  
'POS REFUND PUR',  
'ACB DEBIT REVERSAL',  
'ATM:INIT FEE',  
'DIGITAL PAYMENT DT',  
'NAEDO DO UNPD',  
'DC UNPAID' 
) 
   
GROUP BY
    transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
9 rows affected.

[]

---
### NOTE: Transaction amt under Expense


- **Negative Transaction amt for Customer:** Represents a **reduction in the bank's expenses**, as money is flowing into the bank (e.g., recovery of fees or charges).  

- **Positive Transaction amt for Customer:** Represents an **increase in the bank's expenses**, as money is credited back to the customer (e.g., refunds, failed transactions, or operational reversals).

---

## TABLE OF TOTAL AMT OF TRANSACTIONS CLASSIFIED AS NULL AS OF 2021 AND 2022

In [8]:

%%sql
CREATE TABLE unclassified_Transactions AS
SELECT 
   *
FROM 
    transactiondata
WHERE 
    transaction_description IS NULL
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
372205 rows affected.

[]

---
## ASSEUMPTION: THE NEGATIVE AMT REFLCETS AN INFoutLOW TO THE BANK AND POSTIVE AMT REFLECTS AN OUTFLOW FROM THE BANK TO THE CUSTOMER
---