## 4. Current Liabilities


Transactions Representing Money Owed to Customers by the Bank (Liabilities)

1. ACB Credit

Meaning: Money credited to the customer’s account via Automated Clearing Bureau (ACB) systems.
for example

Liability: The bank owes this credited amount to the customer.

2. ACB Debit Reversal

Meaning: A reversal of a previous debit transaction.

Liability: The bank is refunding money that was debited earlier, making it an obligation to the customer.

3. POS Card Refund

Meaning: A refund for a Point-of-Sale (POS) transaction, such as returning goods or correcting a mistake.

Liability: The refunded amount is owed to the customer.

4. POS Refund Pur

Meaning: A refund related to a purchase made at a POS system.

Liability: The refunded money represents an obligation to the customer.

5. CR Bal Rebate

Meaning: A credit or rebate given to the customer, such as a refund for overcharges.

Liability: The rebate increases the customer’s account balance, creating a liability for the bank.

6. CREDIT Transfer

Meaning: Money transferred into the customer’s account.

Liability: The bank owes the transferred amount to the customer.

7. Digital Payment CR

Meaning: A digital payment credited to the customer’s account.

Liability: The bank must make this credited amount accessible to the customer.

8. Digital Transf CR

Meaning: A credit from a digital transfer, such as EFT or online banking.

Liability: The bank holds this credited amount as a liability.

9. Immediate TRF CR

Meaning: Immediate credit transfer into the customer’s account.

Liability: The bank is responsible for honoring this credit.

10. Journal CR C/OPS

Meaning: A journal credit, typically for adjustments or corrections.

Liability: This adjustment increases the bank’s obligations to the customer.

11. Journal Credit

Meaning: A general credit entry for operational or manual adjustments.

Liability: The credited amount becomes the bank's liability.

12. Mobile Payment CR

Meaning: A mobile payment credited to the customer’s account.

Liability: The bank owes this amount to the customer.

13. Mobile Transfer CR

Meaning: A credit from a mobile transfer service.

Liability: The credited amount is owed to the customer.

14. NPF Credit

Meaning: A credit from non-present funds (e.g., electronic credits).

Liability: The bank holds this as a liability to the customer.

15. OCT OCard Credit

Meaning: An online card transaction credit, typically a refund or incoming funds.

Liability: The bank is obligated to pay this amount to the customer.

16. POS O/Sea Refund

Meaning: A refund for an international POS transaction.

Liability: The refunded amount represents a liability.

Deposits: Money Entrusted to the Bank by Customers

These represent funds deposited by customers, which are liabilities because the bank owes this money to the customers upon request. Examples include:



17. Cash Acceptor Dep

Meaning: Cash deposited through automated acceptors.

Liability: The deposited amount is owed to the customer.

18. Cash Dep Branch

Meaning: Cash deposits made at a branch.

Liability: These funds are held as obligations to the customer.

19. Cardless Cash Dep

Meaning: A cash deposit made without using a card.

Liability: The bank owes the deposited amount to the customer.

20. Note Deposit

Meaning: A deposit made in cash notes.

Liability: These funds represent a liability to the customer.

Why All These Transactions Are Liabilities

Customer Ownership: The credited or deposited funds belong to the customer, not the bank. The bank must honor withdrawal requests or transfers of these funds.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:@localhost:5432/absadatabase

In [6]:
%%sql
SELECT
*
FROM
    transactiondata
WHERE
    transaction_description IN (
    'ACB CREDIT', 
    'ACB DEBIT REVERSAL',
     'POS CARD REFUND', 
     'POS REFUND PUR', 
     'CR BAL REBATE', 
     'CREDIT TRANSFER', 
     'DIGITAL PAYMENT CR', 
     'DIGITAL TRANSF CR', 
     'IMMEDIATE TRF CR', 
    'JOURNAL CR C/OPS', 
    'JOURNAL CREDIT', 
    'MOBILE PAYMENT CR', 
    'MOBILE TRANSFER CR', 
    'NPF CREDIT',
    'OCT OCard CREDIT',
    'POS O/SEA REFUND',
    'CASH ACCEPTOR DEP', 
    'CASH DEP BRANCH',
     'CARDLESS CASH DEP', 
     'NOTE DEPOSIT')
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[(74961, 'CREDIT TRANSFER', 'ID_ffbf911a29213debeb0aa2178a9271aed1642ee23705602062f2fcaee5df563d09028ec869bf9e5f4ef93f77a2b5962d792d3f0483c8695d0b5d3798f0c0259c', datetime.datetime(2022, 5, 30, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 3068.33, 3068.33, 36, 'CHEQ', 'system', '293107ebad9c22971f21ea6c1939c5ec8c58721c6f4f68cba8ac51d62913669f2d4343e24ea444c3d0bb84ba84d9b118dc048ab1babc546627a8b552df3d31b6', '4e30505204e1d9b0d3a11be961556d43fb7d7feddeac9e4556bffad7fd0c3c7bf0dbd7bb9d26239c93fe25e14aaa49a56a4c44249a573e7e24ad2a384e807dee'),
 (74963, 'ACB CREDIT', 'ID_ffbf911a29213debeb0aa2178a9271aed1642ee23705602062f2fcaee5df563d09028ec869bf9e5f4ef93f77a2b5962d792d3f0483c8695d0b5d3798f0c0259c', datetime.datetime(2021, 12, 30, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', -402.81, 300.0, 80, 'CHEQ', 'system', 'b53b7d1ec0f971a832984e8561e6d45ad20544da6c4ffedb3e409b82a4950fa170872a7857b67df9021894dc9f3de9ea0412a2e26f0dfe5bd0d2b551dd03e914', 'a6be280d663c3ec5d9b86999f6c474f7ad3a76bc5fee4283bef0dff77962ab4e5cf8a55bb98457539d2e7d6b2a2c8d95cac1969df0cac969c9c656666e8fcbb1'),
 (75169, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 7, 30, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2003.77, 500.0, 214, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75170, 'ACB CREDIT', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 3, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2317.79, 1800.0, 422, 'CHEQ', 'system', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75171, 'JOURNAL CREDIT', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 23, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 22813.67, 22800.0, 531, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '50e435eaee2014005f214d111eeabc7bf106ce7b570f095b245505d44c7bd3f9879ff5e6cfaf59e3cde168ca6d84f8b3690c2c7b5a4d3a07d1ed9a57637b2b85'),
 (75174, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 958.76, 890.0, 258, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75184, 'ACB CREDIT', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 25, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 21657.51, 21574.33, 585, 'CHEQ', 'system', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '56b866e5e33d312fa806d33b5b21108771e1b3adad9a255b6150d13b33546bd16e00a66189315092d66591bb2a9a9db3d0daf07972b82db98eb7d0ba96842693'),
 (75197, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 1353.76, 395.0, 259, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75205, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 2, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2083.59, 2000.0, 354, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75207, 'DIGITAL TRANSF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 27, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 12057.51, 7000.0, 636, 'CHEQ', 'internet', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '6b1ccde1d0d907adecd2476b19077db9561e73ddd3eaeb55e385cd3cbc09a8c974481e10880578aa84df8d1f628d8422f436340c8c0d3ca93f1382815cc8112c')]

## What are the top 3 transaction types that contributes the highest total liability value for each month?

In [50]:
%%sql
WITH ranked_transactions AS (
    SELECT 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM') AS transaction_month,  -- Format to display year and month
        COUNT(*) AS transaction_count, 
        SUM(amt) AS total_transaction_value, 
        AVG(amt) AS avg_transaction_value,
        ROW_NUMBER() OVER (PARTITION BY TO_CHAR(record_date, 'YYYY-MM') 
                           ORDER BY SUM(amt) DESC) AS rank
    FROM 
        transactiondata
    WHERE 
        transaction_description IN (
            'ACB CREDIT', 'ACB DEBIT REVERSAL', 'POS CARD REFUND', 
            'POS REFUND PUR', 'CR BAL REBATE', 'CREDIT TRANSFER', 
            'DIGITAL PAYMENT CR', 'DIGITAL TRANSF CR', 'IMMEDIATE TRF CR', 
            'JOURNAL CR C/OPS', 'JOURNAL CREDIT', 'MOBILE PAYMENT CR', 
            'MOBILE TRANSFER CR', 'NPF CREDIT', 'OCT OCard CREDIT', 
            'POS O/SEA REFUND', 'CASH ACCEPTOR DEP', 'CASH DEP BRANCH', 
            'CARDLESS CASH DEP', 'NOTE DEPOSIT'
        )
    GROUP BY 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM')  -- Grouping by year and month
)
SELECT 
    transaction_description, 
    transaction_month,  -- The month and year
    transaction_count, 
    total_transaction_value, 
    avg_transaction_value
FROM 
    ranked_transactions
WHERE 
    rank <= 3
ORDER BY 
    transaction_month ASC, 
    total_transaction_value DESC;

 * postgresql://postgres:***@localhost:5432/absadatabase
42 rows affected.

[('ACB CREDIT', '2021-07', 70, 605631.8500000001, 8651.883571428572),
 ('IMMEDIATE TRF CR', '2021-07', 17, 52513.0, 3089.0),
 ('NPF CREDIT', '2021-07', 3, 35098.29, 11699.43),
 ('ACB CREDIT', '2021-08', 232, 1638987.3899999997, 7064.600818965516),
 ('IMMEDIATE TRF CR', '2021-08', 65, 206747.26, 3180.727076923077),
 ('CREDIT TRANSFER', '2021-08', 6, 71076.75, 11846.125),
 ('ACB CREDIT', '2021-09', 549, 3973387.3099999996, 7237.49965391621),
 ('IMMEDIATE TRF CR', '2021-09', 122, 345545.99, 2832.344180327869),
 ('CREDIT TRANSFER', '2021-09', 14, 106071.11, 7576.507857142858),
 ('ACB CREDIT', '2021-10', 770, 5670798.029999999, 7364.672766233765),
 ('IMMEDIATE TRF CR', '2021-10', 166, 559898.8, 3372.884337349398),
 ('CREDIT TRANSFER', '2021-10', 21, 116379.36, 5541.874285714286),
 ('ACB CREDIT', '2021-11', 1202, 9084932.709999999, 7558.180291181364),
 ('IMMEDIATE TRF CR', '2021-11', 302, 809925.75, 2681.873344370861),
 ('CREDIT TRANSFER', '2021-11', 32, 178904.48, 5590.765),
 ('ACB CREDIT', '2021-12', 1832, 13435749.12, 7333.924192139738),
 ('IMMEDIATE TRF CR', '2021-12', 486, 1232402.85, 2535.8083333333334),
 ('NPF CREDIT', '2021-12', 67, 348636.43000000005, 5203.52880597015),
 ('ACB CREDIT', '2022-01', 1849, 13785505.540000001, 7455.654699837751),
 ('IMMEDIATE TRF CR', '2022-01', 524, 1204662.35, 2298.9739503816795),
 ('NPF CREDIT', '2022-01', 72, 281426.37, 3908.699583333333),
 ('ACB CREDIT', '2022-02', 1936, 14088136.049999997, 7276.92977789256),
 ('IMMEDIATE TRF CR', '2022-02', 687, 1362508.83, 1983.2734061135372),
 ('NPF CREDIT', '2022-02', 83, 372804.35, 4491.618674698795),
 ('ACB CREDIT', '2022-03', 2227, 16544119.88000001, 7428.881850022456),
 ('IMMEDIATE TRF CR', '2022-03', 888, 2259022.25, 2543.943975225225),
 ('NPF CREDIT', '2022-03', 154, 609611.2999999999, 3958.5149350649344),
 ('ACB CREDIT', '2022-04', 2215, 16019415.61, 7232.241810383747),
 ('IMMEDIATE TRF CR', '2022-04', 848, 1600721.6, 1887.6433962264152),
 ('NPF CREDIT', '2022-04', 119, 523954.79, 4402.981428571428),
 ('ACB CREDIT', '2022-05', 1954, 14121036.950000007, 7226.733341862849),
 ('IMMEDIATE TRF CR', '2022-05', 734, 1519385.77, 2070.0078610354226),
 ('NPF CREDIT', '2022-05', 192, 569660.86, 2966.9836458333334),
 ('ACB CREDIT', '2022-06', 1669, 11793944.710000003, 7066.4737627321765),
 ('IMMEDIATE TRF CR', '2022-06', 571, 1106533.91, 1937.8877583187389),
 ('CARDLESS CASH DEP', '2022-06', 229, 324710.0, 1417.9475982532751),
 ('ACB CREDIT', '2022-07', 1290, 9011510.400000004, 6985.666976744189),
 ('DIGITAL PAYMENT CR', '2022-07', 358, 1176964.7400000002, 3287.611005586593),
 ('IMMEDIATE TRF CR', '2022-07', 495, 946408.49, 1911.9363434343434),
 ('ACB CREDIT', '2022-08', 846, 5886251.5, 6957.744089834516),
 ('DIGITAL PAYMENT CR', '2022-08', 315, 906884.51, 2878.9984444444444),
 ('DIGITAL TRANSF CR', '2022-08', 523, 799279.31, 1528.2587189292544)]

## Analysis
## Better Decision Making and Forecasting:
This information allows ABSA to identify trends and patterns in their liability-related transactions. For instance, the ACB is consistently high in liability, ABSA can anticipate and plan for the ongoing impact on their balance sheet.
## Actionable Insight: 
ABSA can forecast future liabilities more accurately, improving its budgeting and financial strategy. This may lead to better risk-adjusted returns for investors or more robust internal financial management