## 4. Current Liabilities

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (2.0.34)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\mafube william mokon\appdata\local\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:Will@localhost:5432/absadatabase

### **Criteria for Identifying a Transaction Description as an Liabilities:**

**1.Transaction Descriptions with Positive Amounts: We'll only include transaction descriptions that have a positive amount.This reflects an inflow to customer account and therefore should be identified as a liability**

**2.Excluding Transaction Descriptions with Both Positive and Negative Amounts: If a transaction description has both positive and negative amounts for any customer, it will be excluded from the result and is therefore regarded as not a liability**

In [13]:
%%sql
SELECT DISTINCT 
    transaction_description, count(transaction_description) AS No_of_Trans_Liabiliy,
    sum(amt) AS liability_due,
    AVG(amt) AS avg_transaction_value
FROM 
    transactiondata
WHERE 
    amt > 0
GROUP BY 
    transaction_description
HAVING 
    NOT EXISTS ( -- Exclude transaction descriptions that have negative amounts
        SELECT 1
        FROM transactiondata t2
        WHERE t2.transaction_description = transactiondata.transaction_description
        AND t2.amt < 0
    )
ORDER BY 
    transaction_description
limit 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ACB CREDIT', 18641, 135659407.05000022, 7277.474762620043),
 ('ACB DEBIT REVERSAL', 202, 226558.56, 1121.5770297029703),
 ('ACB EXT DISP ONLNE', 496, 107461.88999999998, 216.65703629032254),
 ('ACB INT DISP BRNCH', 4, 8689.28, 2172.32),
 ('ACB INT DISP ONLNE', 4, 1167.95, 291.9875),
 ('ACT PAYMENT FROM', 11, 28464.6, 2587.690909090909),
 ('AIRTIME DEBIT COR', 6, 294.0, 49.0),
 ('ATM PAYMENT FR', 80, 339228.07999999996, 4240.351),
 ('BAD DEBT W/OFF', 28, 32522.48, 1161.5171428571427),
 ('BILLS NEGOTIATED', 1, 1355.83, 1355.83)]

## 1.1 What is the total amount of liabilities?

In [15]:
%%sql
SELECT 
    count(*) AS total_transactions,
    SUM(amt) AS total_liability_amount
FROM 
    transactiondata
WHERE 
    transaction_description IN (
         'ACB CREDIT', 'ACB DEBIT REVERSAL', 'ACB EXT DISP ONLNE', 'ACB INT DISP BRNCH',
'ACB INT DISP ONLNE', 'ACT PAYMENT FROM', 'AIRTIME DEBIT COR', 'ATM PAYMENT FR',
'BAD DEBT W/OFF', 'BILLS NEGOTIATED', 'CAN CASHSEND ATM', 'CAN CASHSEND IB',
'CAN CASHSEND MB', 'CARDLESS CASH DEP', 'CARDLESS NOTE DEP', 'CASH ACCEPTOR DEP',
'CASH DEP BRANCH', 'CLOSE CASH DEP', 'CR BAL REBATE', 'CREDIT TRANSFER',
'DC TRACK EXT DISP', 'DC TRACK INT DISP', 'DC TRK EXT DSP ONL', 'DC TRK INT DSP ONL',
'DC UNPAID', 'DIGITAL PAYMENT CR', 'DIGITAL TRANSF CR', 'DO EXT DISP BRANCH',
'DO EXT DISP ONLNE', 'DO INT DISP ONLNE', 'EXTERNAL CREDIT', 'IBANK PAYMENT FROM',
'IMMEDIATE TRF CR', 'INVESTMENT CAPITAL', 'INVESTMNT INTEREST', 'JOURNAL CR C/OPS',
'JOURNAL CREDIT', 'LOTTO WINNINGS', 'MOBILE PAYMENT CR', 'MOBILE TRANSFER CR',
'NAEDO DO UNPD', 'NAEDO TRAC DSP ONL', 'NAEDO TRCK DO DISP', 'NOTE DEPOSIT',
'NPF CREDIT', 'OCT OCARD CREDIT', 'OPENED-FROM SAV', 'POS CARD REFUND',
'POS FRAUD RED FIID', 'POS O/SEA REFUND', 'POS REFUND PUR', 'PREPAID DEBIT COR',
'PREPAID DEBITÂ  COR', 'STOP ORDER FROM', 'TEL CR TRANSFER', 'TELEP PAYMENT CT',
'TRANSFER FROM', 'TRAVEL FOREX(PFC)', 'TRF TO CLOSE COR', 'UNPAID DEBIT',
'WESTERN UNION(CBI)'
    )
;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(51208, 222987364.51000017)]

# 1.2 What is the total sum of assliabiltis per month, the number of transactions performed each month, and the average transaction amount of customers?

In [18]:
%%sql
    SELECT 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM') AS transaction_month,  -- Format to display year and month
        COUNT(*) AS transaction_count, 
        SUM(amt) AS total_transaction_value, 
        AVG(amt) AS avg_transaction_value

    FROM 
        transactiondata
    WHERE 
        transaction_description IN (
        'ACB CREDIT', 'ACB DEBIT REVERSAL', 'ACB EXT DISP ONLNE', 'ACB INT DISP BRNCH',
        'ACB INT DISP ONLNE', 'ACT PAYMENT FROM', 'AIRTIME DEBIT COR', 'ATM PAYMENT FR',
        'BAD DEBT W/OFF', 'BILLS NEGOTIATED', 'CAN CASHSEND ATM', 'CAN CASHSEND IB',
        'CAN CASHSEND MB', 'CARDLESS CASH DEP', 'CARDLESS NOTE DEP', 'CASH ACCEPTOR DEP',
        'CASH DEP BRANCH', 'CLOSE CASH DEP', 'CR BAL REBATE', 'CREDIT TRANSFER',
        'DC TRACK EXT DISP', 'DC TRACK INT DISP', 'DC TRK EXT DSP ONL', 'DC TRK INT DSP ONL',
        'DC UNPAID', 'DIGITAL PAYMENT CR', 'DIGITAL TRANSF CR', 'DO EXT DISP BRANCH',
        'DO EXT DISP ONLNE', 'DO INT DISP ONLNE', 'EXTERNAL CREDIT', 'IBANK PAYMENT FROM',
        'IMMEDIATE TRF CR', 'INVESTMENT CAPITAL', 'INVESTMNT INTEREST', 'JOURNAL CR C/OPS',
        'JOURNAL CREDIT', 'LOTTO WINNINGS', 'MOBILE PAYMENT CR', 'MOBILE TRANSFER CR',
        'NAEDO DO UNPD', 'NAEDO TRAC DSP ONL', 'NAEDO TRCK DO DISP', 'NOTE DEPOSIT',
        'NPF CREDIT', 'OCT OCARD CREDIT', 'OPENED-FROM SAV', 'POS CARD REFUND',
        'POS FRAUD RED FIID', 'POS O/SEA REFUND', 'POS REFUND PUR', 'PREPAID DEBIT COR',
        'PREPAID DEBITÂ  COR', 'STOP ORDER FROM', 'TEL CR TRANSFER', 'TELEP PAYMENT CT',
        'TRANSFER FROM', 'TRAVEL FOREX(PFC)', 'TRF TO CLOSE COR', 'UNPAID DEBIT','WESTERN UNION(CBI)'
    )
GROUP BY 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM')  -- Grouping by year and month
ORDER BY TO_CHAR(record_date, 'YYYY-MM')
LIMIT 17;

 * postgresql://postgres:***@localhost:5432/absadatabase
17 rows affected.

[('ACB CREDIT', '2021-07', 70, 605631.8500000001, 8651.883571428572),
 ('CAN CASHSEND IB', '2021-07', 2, 1000.0, 500.0),
 ('CARDLESS CASH DEP', '2021-07', 2, 4100.0, 2050.0),
 ('CASH ACCEPTOR DEP', '2021-07', 4, 9730.0, 2432.5),
 ('CLOSE CASH DEP', '2021-07', 1, 475.9, 475.9),
 ('CR BAL REBATE', '2021-07', 1, 55.9, 55.9),
 ('DC UNPAID', '2021-07', 1, 966.66, 966.66),
 ('IBANK PAYMENT FROM', '2021-07', 18, 37576.96, 2087.608888888889),
 ('IMMEDIATE TRF CR', '2021-07', 17, 52513.0, 3089.0),
 ('JOURNAL CREDIT', '2021-07', 2, 2226.9, 1113.45),
 ('LOTTO WINNINGS', '2021-07', 3, 22.5, 7.5),
 ('NAEDO DO UNPD', '2021-07', 3, 823.7, 274.56666666666666),
 ('NPF CREDIT', '2021-07', 3, 35098.29, 11699.43),
 ('UNPAID DEBIT', '2021-07', 21, 7889.639999999999, 375.6971428571428),
 ('ACB CREDIT', '2021-08', 232, 1638987.3899999997, 7064.600818965516),
 ('ACB EXT DISP ONLNE', '2021-08', 5, 980.0, 196.0),
 ('ATM PAYMENT FR', '2021-08', 4, 11500.0, 2875.0)]

 
## 1.2 What are the top 10 customers with the highest total liabilities, based on transactions matching specific descriptions?

In [22]:
%%sql
SELECT 
    c.customer_identifier, 
    c.age,
    count(t.account_number),
    i.income_group_desc, 
    COUNT(*) AS No_Appr_Invest_Cap,
    SUM(t.amt) AS total_liability,
    AVG(t.account_balance) AS Avg_acc_balance
FROM 
    Customer c
JOIN 
    income_group i
    ON CAST(i.income_group_code AS VARCHAR) = c.income_group_code
JOIN 
    TransactionData t 
    ON t.customer_identifier = c.customer_identifier
WHERE 
    transaction_description IN (
'ACB CREDIT', 'ACB DEBIT REVERSAL', 'ACB EXT DISP ONLNE', 'ACB INT DISP BRNCH',
'ACB INT DISP ONLNE', 'ACT PAYMENT FROM', 'AIRTIME DEBIT COR', 'ATM PAYMENT FR',
'BAD DEBT W/OFF', 'BILLS NEGOTIATED', 'CAN CASHSEND ATM', 'CAN CASHSEND IB',
'CAN CASHSEND MB', 'CARDLESS CASH DEP', 'CARDLESS NOTE DEP', 'CASH ACCEPTOR DEP',
'CASH DEP BRANCH', 'CLOSE CASH DEP', 'CR BAL REBATE', 'CREDIT TRANSFER',
'DC TRACK EXT DISP', 'DC TRACK INT DISP', 'DC TRK EXT DSP ONL', 'DC TRK INT DSP ONL',
'DC UNPAID', 'DIGITAL PAYMENT CR', 'DIGITAL TRANSF CR', 'DO EXT DISP BRANCH',
'DO EXT DISP ONLNE', 'DO INT DISP ONLNE', 'EXTERNAL CREDIT', 'IBANK PAYMENT FROM',
'IMMEDIATE TRF CR', 'INVESTMENT CAPITAL', 'INVESTMNT INTEREST', 'JOURNAL CR C/OPS',
'JOURNAL CREDIT', 'LOTTO WINNINGS', 'MOBILE PAYMENT CR', 'MOBILE TRANSFER CR',
'NAEDO DO UNPD', 'NAEDO TRAC DSP ONL', 'NAEDO TRCK DO DISP', 'NOTE DEPOSIT',
'NPF CREDIT', 'OCT OCARD CREDIT', 'OPENED-FROM SAV', 'POS CARD REFUND',
'POS FRAUD RED FIID', 'POS O/SEA REFUND', 'POS REFUND PUR', 'PREPAID DEBIT COR',
'PREPAID DEBITÂ  COR', 'STOP ORDER FROM', 'TEL CR TRANSFER', 'TELEP PAYMENT CT',
'TRANSFER FROM', 'TRAVEL FOREX(PFC)', 'TRF TO CLOSE COR', 'UNPAID DEBIT',
'WESTERN UNION(CBI)'

    )
GROUP BY 
    c.customer_identifier,
    i.income_group_desc
ORDER BY 
    total_liability DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_3dbff6158951a0529f5063fc715fd7a1593cbee84ef0c65a20c62c99d1e04c6d67672bf39fac5850ca725e5421c601f6dfbd385e8af024d355673620c8045a9e', 36, 206, 'R 0 - 499', 206, 662341.92, 9013.988883495145),
 ('ID_781a16b8192c011b733b7d10af7a2a9446b24c13cdd708c13644c75dcddbd1f186f349f7340d9ff121c7f5622250cf4fa6164c58a20ac8f94809f534fbd32cb6', 43, 75, 'R15,000 - 19,999', 75, 594388.62, 11036.37133333333),
 ('ID_d64cbaba639c7cd242dc59bc2f6c32f82883c53f3b940f0560ead457e0ac4198d818a976cb553407d14124cad049cf63c48ec882f3648ab0a7d693959558e18a', 38, 107, 'R34,000 - 41,999', 107, 571513.0199999999, 7092.592616822429),
 ('ID_21b12e89854f97d50ba13c29b5d03640f38e4a2ef64b57e3464689de16029a33ca5da9d9f526fda4840c6457baa47eb91b39905b1ac2d251d135a76819012c65', 33, 130, 'R 0 - 499', 130, 487128.73, 7402.47853846154),
 ('ID_970631585ad1cba0e38f25f663d9a2bac11d0a244ebc6efc3f32eb92e39e885a5544bb0f89668f58ec35154c6ae164dc866f50044a0a293d7c86adb888a30d36', 34, 60, 'R42,000 - 62,999', 60, 483417.14, 10533.99333333333),
 ('ID_bfec01f7536648cf931c9822067a9a1bb94205557a9ea0b86430a7b12714988d9a62ea0323ea42ae1d34bc84a6528febe1cf3e336394603325809f36f663656a', 37, 150, 'R42,000 - 62,999', 150, 466361.38, 7772.756800000003),
 ('ID_d3c27b9842fd26eb73bd4c8da93eb4214e8f08d5e7d495d8c3ca6db83f0ce4e7fe6ded66a0237ac7ded29a8e371b0f13d0b5963703bd6fd1b1f8d7e697779113', 26, 238, 'R15,000 - 19,999', 238, 456944.82000000007, 4985.050504201681),
 ('ID_5a31d21af0514a2dae497cd736dcd122fddbc0878468921229c27e5c91d578e7052582a6d5f512b7e296b493e5e6b321622da06eaf502c51fbbb18f8559d0069', 39, 84, 'R20,000 - 24,999', 84, 444697.39999999997, 12757.865595238094),
 ('ID_940ed92ac4c37193fd3f0a67b515cbb250f79b0d88a790cf47304a804655b025dd1a37c1eeb24a80c8d92137bc07d6c6abcb5335020bb13ba60bd9a7e934a719', 34, 71, 'R25,000 - 33,999', 71, 426703.30999999994, 10309.457323943665),
 ('ID_45d257a5e2848468c826dfecd6d63033b79529e08dadf2900d4a0d9c12a3d291cd05bdf2fc74e116ef6ca1cd571899cc83f8c1e672941d577039196d7e6c079c', 36, 40, 'R42,000 - 62,999', 40, 421033.19999999995, 16585.722999999994)]

## FURTHER INVESTIGATION
Does the customer have a legitimate source of income that justifies such large deposits?

In [62]:
%%sql
SELECT 
    transaction_description,
    MAX(amt),
    record_date
FROM transactiondata
WHERE customer_identifier = 'ID_3dbff6158951a0529f5063fc715fd7a1593cbee84ef0c65a20c62c99d1e04c6d67672bf39fac5850ca725e5421c601f6dfbd385e8af024d355673620c8045a9e'
  AND amt > 900
GROUP BY  transaction_description,record_date
ORDER BY MAX(amt) DESC
limit 15;

 * postgresql://postgres:***@localhost:5432/absadatabase
15 rows affected.

[('NPF CREDIT', 18250.0, datetime.datetime(2022, 4, 12, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2022, 2, 25, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2022, 1, 25, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2021, 11, 25, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2021, 10, 22, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2022, 4, 22, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2021, 12, 8, 0, 0)),
 ('NPF CREDIT', 16980.0, datetime.datetime(2022, 3, 24, 0, 0)),
 ('NPF CREDIT', 16850.0, datetime.datetime(2022, 4, 4, 0, 0)),
 ('NPF CREDIT', 13990.0, datetime.datetime(2022, 3, 10, 0, 0)),
 ('NPF CREDIT', 13875.5, datetime.datetime(2022, 1, 14, 0, 0)),
 ('NPF CREDIT', 13875.5, datetime.datetime(2022, 1, 3, 0, 0)),
 ('NPF CREDIT', 10650.0, datetime.datetime(2021, 12, 13, 0, 0)),
 ('NPF CREDIT', 9000.0, datetime.datetime(2022, 2, 28, 0, 0)),
 ('NPF CREDIT', 9000.0, datetime.datetime(2022, 2, 1, 0, 0))]

## What are the top 3 transaction types that contributes the highest total liability value for each month?

In [11]:
%%sql
WITH ranked_transactions AS (
    SELECT 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM') AS transaction_month,  -- Format to display year and month
        COUNT(*) AS transaction_count, 
        SUM(amt) AS total_transaction_value, 
        AVG(amt) AS avg_transaction_value,
        ROW_NUMBER() OVER (PARTITION BY TO_CHAR(record_date, 'YYYY-MM') 
                           ORDER BY SUM(amt) DESC) AS rank
    FROM 
        transactiondata
    WHERE 
        transaction_description IN (
            'ACB CREDIT', 'ACB DEBIT REVERSAL', 'POS CARD REFUND', 
            'POS REFUND PUR', 'CR BAL REBATE', 'CREDIT TRANSFER', 
            'DIGITAL PAYMENT CR', 'DIGITAL TRANSF CR', 'IMMEDIATE TRF CR', 
            'JOURNAL CR C/OPS', 'JOURNAL CREDIT', 'MOBILE PAYMENT CR', 
            'MOBILE TRANSFER CR', 'NPF CREDIT', 'OCT OCard CREDIT', 
            'POS O/SEA REFUND', 'CASH ACCEPTOR DEP', 'CASH DEP BRANCH', 
            'CARDLESS CASH DEP', 'NOTE DEPOSIT'
        )
    GROUP BY 
        transaction_description, 
        TO_CHAR(record_date, 'YYYY-MM')  -- Grouping by year and month
)
SELECT 
    transaction_description, 
    transaction_month,  -- The month and year
    transaction_count, 
    total_transaction_value, 
    avg_transaction_value
FROM 
    ranked_transactions
WHERE 
    rank <= 3
ORDER BY 
    transaction_month ASC, 
    total_transaction_value DESC
limit 12;

 * postgresql://postgres:***@localhost:5432/absadatabase
12 rows affected.

[('ACB CREDIT', '2021-07', 70, 605631.85, 8651.88357142857),
 ('IMMEDIATE TRF CR', '2021-07', 17, 52513.0, 3089.0),
 ('NPF CREDIT', '2021-07', 3, 35098.29, 11699.43),
 ('ACB CREDIT', '2021-08', 232, 1638987.39, 7064.600818965517),
 ('IMMEDIATE TRF CR', '2021-08', 65, 206747.26, 3180.727076923077),
 ('CREDIT TRANSFER', '2021-08', 6, 71076.75, 11846.125),
 ('ACB CREDIT', '2021-09', 549, 3973387.31, 7237.499653916211),
 ('IMMEDIATE TRF CR', '2021-09', 122, 345545.99, 2832.344180327869),
 ('CREDIT TRANSFER', '2021-09', 14, 106071.11, 7576.507857142858),
 ('ACB CREDIT', '2021-10', 770, 5670798.030000002, 7364.672766233769),
 ('IMMEDIATE TRF CR', '2021-10', 166, 559898.8, 3372.884337349398),
 ('CREDIT TRANSFER', '2021-10', 21, 116379.36, 5541.874285714286)]

## FINDINGS
## Better Decision Making and Forecasting:
This information allows ABSA to identify trends and patterns in their liability-related transactions. For instance, the ACB is consistently high in liability, ABSA can anticipate and plan for the ongoing impact on their balance sheet.
## Actionable Insight: 
ABSA can forecast future liabilities more accurately, improving its budgeting and financial strategy. This may lead to better risk-adjusted returns for investors or more robust internal financial management
## Optimizing Capital Reserves:
By understanding the largest liabilities, ABSA can better determine the appropriate capital reserves needed to meet obligations without risking regulatory non-compliance. Regulators often require banks to maintain a certain level of reserves against their liabilities.
Actionable Insight: By knowing the top liabilities, ABSA can ensure its capital adequacy ratio remains sufficient, preventing any potential issues with regulatory authorities or liquidity crises


###  **Enhancing Customer Relations**
   - High-liability transactions could be indicative of customer behavior trends (e.g., frequent refunds or digital payments). By identifying these transaction types, ABSA can address customer concerns or look for opportunities to offer services tailored to their needs (e.g., targeted promotions or adjustments in transaction policies).

###  **Compliance and Regulatory Planning**
   - Financial institutions like ABSA are subject to regulatory requirements regarding reserves and liabilities. By identifying the transactions that contribute most to liabilities, ABSA can ensure that they are in compliance with the regulatory standards for capital adequacy and liquidity. This data can help ABSA in preparing accurate financial reports for audits or regulatory reviews.

### 8 **Cost Management and Profitability Analysis**
   - For each high-liability transaction type, ABSA can analyze the associated costs and determine whether these transactions are profitable or if they represent a significant financial drain. Understanding which transaction types have the highest liabilities can guide ABSA in making pricing or policy adjustments to optimize profitability.

### Summary
By identifying and understanding the **top 3 transaction types with the highest total liability value** each month, ABSA can take proactive steps to improve liquidity management, assess and mitigate risks, plan for future financial needs, optimize operational efficiency, and stay compliant with regulations. This information provides a data-driven foundation for decision-making that can lead to better resource allocation and overall financial health for the bank.

 ## Liability Impact on Bank’s Liquidity
How do liabilities fluctuate across different customer account types?
This can help identify which account types contribute the most to liabilitie

In [61]:
%%sql
SELECT 
    account_type_code, 
    COUNT(*) AS transaction_count, 
    SUM(amt) AS total_transaction_value, 
    AVG(amt) AS avg_transaction_value,
    MAX(amt) AS max_transaction_value,
    MIN(amt) AS min_transaction_value
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'ACB CREDIT', 'ACB DEBIT REVERSAL', 'POS CARD REFUND', 
        'POS REFUND PUR', 'CR BAL REBATE', 'CREDIT TRANSFER', 
        'DIGITAL PAYMENT CR', 'DIGITAL TRANSF CR', 'IMMEDIATE TRF CR', 
        'JOURNAL CR C/OPS', 'JOURNAL CREDIT', 'MOBILE PAYMENT CR', 
        'MOBILE TRANSFER CR', 'NPF CREDIT', 'OCT OCard CREDIT', 
        'POS O/SEA REFUND', 'CASH ACCEPTOR DEP', 'CASH DEP BRANCH', 
        'CARDLESS CASH DEP', 'NOTE DEPOSIT'
    )
GROUP BY 
    account_type_code
ORDER BY 
    total_transaction_value DESC;

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[('e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 28089, 146448802.46999985, 5213.7421221830555, 51027.04, 0.01),
 ('d6ce862e8087be5b15ae3c6c330a930ed7bd4e0ab6aca05ea14d8816e475195b28fc23d8370a8d81f017aa513775adf7f123a34d53057e910b2bf6b3abad572b', 2076, 10259008.530000007, 4941.718945086708, 43496.2, 0.1),
 ('d494747a2d5b6b363a790d0c431e2b2b01904fa1a102cd066a777be3dd9c73ef74ac0ed20aefe9f36f359b469376095d4574b13a5f51e01d48a5edcdc450aca2', 928, 3239960.6099999994, 3491.336864224137, 37450.24, 1.5),
 ('d2d5cd029030a29de86678be60f547c1929e077385e668df529258abb54a2309dfd634eb6c17984018b8904507fc818a634dd7eee486a36e622986d9c77b0cdc', 643, 3068867.079999999, 4772.73262830482, 49130.98, 18.19),
 ('9222e5a934d6e3e109541a249a429c1f29d7f81ca34a1d9a7ca295b65b5a1fd52ad4cbc92e66151fcf33cd187afc2b3bb92f8e80c4227799cb76ebd1290f1284', 228, 1089002.6300000001, 4776.327324561404, 46239.3, 20.0),
 ('c763073a94135fbcd52eb04ec0e95866345d974c7b67d70e677ac8531e7f9535aad31f13251115ca6a91a6b19284de76525a3ec63e8b695be59d0efab2db4834', 160, 1058378.4200000004, 6614.865125000002, 35778.15, 9.0),
 ('bbbadbce5cc97581688782a1bdde29889567c415d6e91f40f5fcbb9c2f9c7caab643fbd54029c7318789c74858a39ef19c5be3ae23467099aadbfafae4a9b968', 130, 197221.97000000003, 1517.0920769230772, 15591.05, 20.0),
 ('402c3faaa778403ed3f850ccd7719c7795ef1ea6720f0d6e7a8ef57481e748a2b0f0b6fc7deac55fad96054d967c90fcca1f098ed6f32ddfba6568739f63cb5e', 114, 190414.69, 1670.304298245614, 18000.0, 28.99),
 ('2cde02c0cb403a41ac74cf21ae80390d9cdbd354fdece384e8a4f45bef9ceb846a4f3da04c5d3164faed5c380306583ebf0814dbc4a70f5763e8fa2620f26a86', 10, 156126.84999999998, 15612.684999999998, 30251.64, 3378.67),
 ('84e8fcd444d6158314fa3033061aa244f64264cb0da7bae251dc33d9c1c96747f4f5e89519a75b86a70051da8de72e9d4176708965a47fe49d3e719cf07fa5db', 30, 72800.6, 2426.686666666667, 8424.82, 130.8),
 ('2c5990d0375606a4c7a5fe2131856054ff03e05bc657fc0a13d3c847a2210b3d3f5bce52f064a31493563fb24e1d90ba3f2e04930ec6867379d63d3e158df77a', 1, 300.0, 300.0, 300.0, 300.0)]