## 4. Current Liabilities


Transactions Representing Money Owed to Customers by the Bank (Liabilities)

1. ACB Credit

Meaning: Money credited to the customer’s account via Automated Clearing Bureau (ACB) systems.
for example

Liability: The bank owes this credited amount to the customer.

2. ACB Debit Reversal

Meaning: A reversal of a previous debit transaction.

Liability: The bank is refunding money that was debited earlier, making it an obligation to the customer.

3. POS Card Refund

Meaning: A refund for a Point-of-Sale (POS) transaction, such as returning goods or correcting a mistake.

Liability: The refunded amount is owed to the customer.

4. POS Refund Pur

Meaning: A refund related to a purchase made at a POS system.

Liability: The refunded money represents an obligation to the customer.

5. CR Bal Rebate

Meaning: A credit or rebate given to the customer, such as a refund for overcharges.

Liability: The rebate increases the customer’s account balance, creating a liability for the bank.

6. CREDIT Transfer

Meaning: Money transferred into the customer’s account.

Liability: The bank owes the transferred amount to the customer.

7. Digital Payment CR

Meaning: A digital payment credited to the customer’s account.

Liability: The bank must make this credited amount accessible to the customer.

8. Digital Transf CR

Meaning: A credit from a digital transfer, such as EFT or online banking.

Liability: The bank holds this credited amount as a liability.

9. Immediate TRF CR

Meaning: Immediate credit transfer into the customer’s account.

Liability: The bank is responsible for honoring this credit.

10. Journal CR C/OPS

Meaning: A journal credit, typically for adjustments or corrections.

Liability: This adjustment increases the bank’s obligations to the customer.

11. Journal Credit

Meaning: A general credit entry for operational or manual adjustments.

Liability: The credited amount becomes the bank's liability.

12. Mobile Payment CR

Meaning: A mobile payment credited to the customer’s account.

Liability: The bank owes this amount to the customer.

13. Mobile Transfer CR

Meaning: A credit from a mobile transfer service.

Liability: The credited amount is owed to the customer.

14. NPF Credit

Meaning: A credit from non-present funds (e.g., electronic credits).

Liability: The bank holds this as a liability to the customer.

15. OCT OCard Credit

Meaning: An online card transaction credit, typically a refund or incoming funds.

Liability: The bank is obligated to pay this amount to the customer.

16. POS O/Sea Refund

Meaning: A refund for an international POS transaction.

Liability: The refunded amount represents a liability.

Deposits: Money Entrusted to the Bank by Customers

These represent funds deposited by customers, which are liabilities because the bank owes this money to the customers upon request. Examples include:



17. Cash Acceptor Dep

Meaning: Cash deposited through automated acceptors.

Liability: The deposited amount is owed to the customer.

18. Cash Dep Branch

Meaning: Cash deposits made at a branch.

Liability: These funds are held as obligations to the customer.

19. Cardless Cash Dep

Meaning: A cash deposit made without using a card.

Liability: The bank owes the deposited amount to the customer.

20. Note Deposit

Meaning: A deposit made in cash notes.

Liability: These funds represent a liability to the customer.

Why All These Transactions Are Liabilities

Customer Ownership: The credited or deposited funds belong to the customer, not the bank. The bank must honor withdrawal requests or transfers of these funds.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:@localhost:5432/absadatabase

In [6]:
%%sql
SELECT
*
FROM
    transactiondata
WHERE
    transaction_description IN (
    'ACB CREDIT', 
    'ACB DEBIT REVERSAL',
     'POS CARD REFUND', 
     'POS REFUND PUR', 
     'CR BAL REBATE', 
     'CREDIT TRANSFER', 
     'DIGITAL PAYMENT CR', 
     'DIGITAL TRANSF CR', 
     'IMMEDIATE TRF CR', 
    'JOURNAL CR C/OPS', 
    'JOURNAL CREDIT', 
    'MOBILE PAYMENT CR', 
    'MOBILE TRANSFER CR', 
    'NPF CREDIT',
    'OCT OCard CREDIT',
    'POS O/SEA REFUND',
    'CASH ACCEPTOR DEP', 
    'CASH DEP BRANCH',
     'CARDLESS CASH DEP', 
     'NOTE DEPOSIT')
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[(74961, 'CREDIT TRANSFER', 'ID_ffbf911a29213debeb0aa2178a9271aed1642ee23705602062f2fcaee5df563d09028ec869bf9e5f4ef93f77a2b5962d792d3f0483c8695d0b5d3798f0c0259c', datetime.datetime(2022, 5, 30, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 3068.33, 3068.33, 36, 'CHEQ', 'system', '293107ebad9c22971f21ea6c1939c5ec8c58721c6f4f68cba8ac51d62913669f2d4343e24ea444c3d0bb84ba84d9b118dc048ab1babc546627a8b552df3d31b6', '4e30505204e1d9b0d3a11be961556d43fb7d7feddeac9e4556bffad7fd0c3c7bf0dbd7bb9d26239c93fe25e14aaa49a56a4c44249a573e7e24ad2a384e807dee'),
 (74963, 'ACB CREDIT', 'ID_ffbf911a29213debeb0aa2178a9271aed1642ee23705602062f2fcaee5df563d09028ec869bf9e5f4ef93f77a2b5962d792d3f0483c8695d0b5d3798f0c0259c', datetime.datetime(2021, 12, 30, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', -402.81, 300.0, 80, 'CHEQ', 'system', 'b53b7d1ec0f971a832984e8561e6d45ad20544da6c4ffedb3e409b82a4950fa170872a7857b67df9021894dc9f3de9ea0412a2e26f0dfe5bd0d2b551dd03e914', 'a6be280d663c3ec5d9b86999f6c474f7ad3a76bc5fee4283bef0dff77962ab4e5cf8a55bb98457539d2e7d6b2a2c8d95cac1969df0cac969c9c656666e8fcbb1'),
 (75169, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 7, 30, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2003.77, 500.0, 214, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75170, 'ACB CREDIT', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 3, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2317.79, 1800.0, 422, 'CHEQ', 'system', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75171, 'JOURNAL CREDIT', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 23, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 22813.67, 22800.0, 531, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '50e435eaee2014005f214d111eeabc7bf106ce7b570f095b245505d44c7bd3f9879ff5e6cfaf59e3cde168ca6d84f8b3690c2c7b5a4d3a07d1ed9a57637b2b85'),
 (75174, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 958.76, 890.0, 258, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75184, 'ACB CREDIT', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 25, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 21657.51, 21574.33, 585, 'CHEQ', 'system', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '56b866e5e33d312fa806d33b5b21108771e1b3adad9a255b6150d13b33546bd16e00a66189315092d66591bb2a9a9db3d0daf07972b82db98eb7d0ba96842693'),
 (75197, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 1353.76, 395.0, 259, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75205, 'IMMEDIATE TRF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 2, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2083.59, 2000.0, 354, 'CHEQ', 'teller', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '3ec68265972cb27efd5ba438c288db53b90c52149e815dd7fcec5b31f3a4cbfaa17101a4a42de8ce790314de4bffa2f3cbf111c275612e15bb72d0677941f583'),
 (75207, 'DIGITAL TRANSF CR', 'ID_086d5fa74186d0c14c5f2602b2e97712c227b2f70d615e256a5cd0b9609f545f076a076060d12f6b71c795c2f762e73ece3126ce06eb05f28d7a5ccdfca58737', datetime.datetime(2022, 8, 27, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 12057.51, 7000.0, 636, 'CHEQ', 'internet', 'c0a6435313f479a109fab23ef7889368db3cb069c825da70db98b0ccf900e49bb84d54b34b84af61eddd780c9c9b226d866d68031c6aa8a4c25b411b49d83b58', '6b1ccde1d0d907adecd2476b19077db9561e73ddd3eaeb55e385cd3cbc09a8c974481e10880578aa84df8d1f628d8422f436340c8c0d3ca93f1382815cc8112c')]

## 1. Total Number of Transactions by Type

In [14]:
%%sql
SELECT 
    transaction_description, 
    SUM(amt) AS total_liability_due,
    AVG(amt) AS average_liability_amount,
    COUNT(*) AS transaction_count
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'ACB CREDIT', 
        'ACB DEBIT REVERSAL', 
        'POS CARD REFUND', 
        'POS REFUND PUR', 
        'CR BAL REBATE', 
        'CREDIT TRANSFER', 
        'DIGITAL PAYMENT CR', 
        'DIGITAL TRANSF CR', 
        'IMMEDIATE TRF CR', 
        'JOURNAL CR C/OPS', 
        'JOURNAL CREDIT', 
        'MOBILE PAYMENT CR', 
        'MOBILE TRANSFER CR', 
        'NPF CREDIT', 
        'OCT OCard CREDIT', 
        'POS O/SEA REFUND', 
        'CASH ACCEPTOR DEP', 
        'CASH DEP BRANCH', 
        'CARDLESS CASH DEP', 
        'NOTE DEPOSIT'
    )
GROUP BY 
    transaction_description
ORDER BY 
    transaction_count DESC
;

 * postgresql://postgres:***@localhost:5432/absadatabase
19 rows affected.

[('ACB CREDIT', 135659407.05, 7277.4747626200315, 18641),
 ('IMMEDIATE TRF CR', 13994160.059999999, 2223.0595806195392, 6295),
 ('CARDLESS CASH DEP', 3159090.0, 1527.6063829787233, 2068),
 ('DIGITAL TRANSF CR', 1668468.0099999998, 1314.7896059889674, 1269),
 ('CASH ACCEPTOR DEP', 2101470.0, 1718.2910874897793, 1223),
 ('NPF CREDIT', 3675248.3900000006, 3585.6081853658543, 1025),
 ('DIGITAL PAYMENT CR', 2083849.2499999998, 3096.3584695393756, 673),
 ('CREDIT TRANSFER', 2460238.58, 4758.681972920696, 517),
 ('ACB DEBIT REVERSAL', 226558.56, 1121.5770297029703, 202),
 ('POS CARD REFUND', 71884.95, 366.7599489795918, 196),
 ('JOURNAL CREDIT', 348038.75, 3314.654761904762, 105),
 ('CR BAL REBATE', 23925.359999999997, 284.82571428571424, 84),
 ('CASH DEP BRANCH', 270073.13, 3971.663676470588, 68),
 ('POS O/SEA REFUND', 29626.760000000002, 822.9655555555556, 36),
 ('MOBILE TRANSFER CR', 130.0, 65.0, 2),
 ('NOTE DEPOSIT', 1050.0, 525.0, 2),
 ('POS REFUND PUR', 1265.0, 1265.0, 1),
 ('JOURNAL CR C/OPS', 4400.0, 4400.0, 1),
 ('MOBILE PAYMENT CR', 2000.0, 2000.0, 1)]

 ## Monthly Trend of Liability Transactions

In [19]:
%%sql
SELECT 
    transaction_description, 
    DATE_TRUNC('month', record_date) AS transaction_month, 
    COUNT(*) AS transaction_count, 
    SUM(amt) AS total_transaction_value
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'ACB CREDIT', 
        'ACB DEBIT REVERSAL', 
        'POS CARD REFUND', 
        'POS REFUND PUR', 
        'CR BAL REBATE', 
        'CREDIT TRANSFER', 
        'DIGITAL PAYMENT CR', 
        'DIGITAL TRANSF CR', 
        'IMMEDIATE TRF CR', 
        'JOURNAL CR C/OPS', 
        'JOURNAL CREDIT', 
        'MOBILE PAYMENT CR', 
        'MOBILE TRANSFER CR', 
        'NPF CREDIT', 
        'OCT OCard CREDIT', 
        'POS O/SEA REFUND', 
        'CASH ACCEPTOR DEP', 
        'CASH DEP BRANCH', 
        'CARDLESS CASH DEP', 
        'NOTE DEPOSIT'
    )
GROUP BY 
    transaction_description, 
    DATE_TRUNC('month', record_date)
ORDER BY 
    total_transaction_value DESC
limit 20;

 * postgresql://postgres:***@localhost:5432/absadatabase
20 rows affected.

[('ACB CREDIT', datetime.datetime(2022, 3, 1, 0, 0), 2227, 16544119.880000008),
 ('ACB CREDIT', datetime.datetime(2022, 4, 1, 0, 0), 2215, 16019415.610000003),
 ('ACB CREDIT', datetime.datetime(2022, 5, 1, 0, 0), 1954, 14121036.950000001),
 ('ACB CREDIT', datetime.datetime(2022, 2, 1, 0, 0), 1936, 14088136.049999993),
 ('ACB CREDIT', datetime.datetime(2022, 1, 1, 0, 0), 1849, 13785505.540000007),
 ('ACB CREDIT', datetime.datetime(2021, 12, 1, 0, 0), 1832, 13435749.119999997),
 ('ACB CREDIT', datetime.datetime(2022, 6, 1, 0, 0), 1669, 11793944.71),
 ('ACB CREDIT', datetime.datetime(2021, 11, 1, 0, 0), 1202, 9084932.710000003),
 ('ACB CREDIT', datetime.datetime(2022, 7, 1, 0, 0), 1290, 9011510.400000004),
 ('ACB CREDIT', datetime.datetime(2022, 8, 1, 0, 0), 846, 5886251.5),
 ('ACB CREDIT', datetime.datetime(2021, 10, 1, 0, 0), 770, 5670798.029999999),
 ('ACB CREDIT', datetime.datetime(2021, 9, 1, 0, 0), 549, 3973387.3099999996),
 ('IMMEDIATE TRF CR', datetime.datetime(2022, 3, 1, 0, 0), 888, 2259022.25),
 ('ACB CREDIT', datetime.datetime(2021, 8, 1, 0, 0), 232, 1638987.3899999997),
 ('IMMEDIATE TRF CR', datetime.datetime(2022, 4, 1, 0, 0), 848, 1600721.6),
 ('IMMEDIATE TRF CR', datetime.datetime(2022, 5, 1, 0, 0), 734, 1519385.77),
 ('IMMEDIATE TRF CR', datetime.datetime(2022, 2, 1, 0, 0), 687, 1362508.83),
 ('IMMEDIATE TRF CR', datetime.datetime(2021, 12, 1, 0, 0), 486, 1232402.85),
 ('IMMEDIATE TRF CR', datetime.datetime(2022, 1, 1, 0, 0), 524, 1204662.35),
 ('DIGITAL PAYMENT CR', datetime.datetime(2022, 7, 1, 0, 0), 358, 1176964.7400000002)]

 ## Identifying High-Value Transactions

In [20]:
%%sql
SELECT 
    transaction_id, 
    customer_identifier, 
    transaction_description, 
    amt
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'ACB CREDIT', 
        'ACB DEBIT REVERSAL', 
        'POS CARD REFUND', 
        'POS REFUND PUR', 
        'CR BAL REBATE', 
        'CREDIT TRANSFER', 
        'DIGITAL PAYMENT CR', 
        'DIGITAL TRANSF CR', 
        'IMMEDIATE TRF CR', 
        'JOURNAL CR C/OPS', 
        'JOURNAL CREDIT', 
        'MOBILE PAYMENT CR', 
        'MOBILE TRANSFER CR', 
        'NPF CREDIT', 
        'OCT OCard CREDIT', 
        'POS O/SEA REFUND', 
        'CASH ACCEPTOR DEP', 
        'CASH DEP BRANCH', 
        'CARDLESS CASH DEP', 
        'NOTE DEPOSIT'
    )
AND 
    amt > 10000
ORDER BY 
    amt DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[(468078, 'ID_9bda67785bf31ef660ac1acd297559119cb93404de3297705aaeef0d99f799dac12a7ee2a438414253b2ddc102592ff68b9989e5915c78553a2d9fb38d0385d0', 'ACB CREDIT', 51027.04),
 (109726, 'ID_2157bb3c08a3a7a920681348527d00e35f15c9fab5899573e3a380c598bcc0fdfd0a431a40a5ec5cea4bb369cf1157598378c92340b798af30d4ce698411f5e8', 'ACB CREDIT', 50000.0),
 (191525, 'ID_3459a168383cd6a65ca354d7ccd6b9dd13253cf4f5d6adec8a6244d7d0aae3b6827649aebc6128ee335808769e30f799ab73374181363ecbead9b8b5ad2ee418', 'ACB CREDIT', 49216.45),
 (628170, 'ID_94fa7f092102b5f7ec457ea88fa180c80c8be48f1749d44cd6bfbe1c8ca2b32bb5b74abb40dfae0a1ffd6efea3908342050129f4fca85944ed3dda14403f2b0f', 'ACB CREDIT', 49130.98),
 (671499, 'ID_e1d89b8554c1eac954d94d319e7e2bb0391ee9d545fe97adccee389855c02fe3b313dc735d094741c775b5964df04a40ee4f423ff6c1fb81ac030fb3ea7cc7cb', 'NPF CREDIT', 49000.0),
 (805611, 'ID_c55074c1294076cfad6e45ed95a42c60a6eb2e347d6b1554dee3a4a585ef3a6be582f263f4f0bf5aeb34809f4a9ddc008b5f8303f6c1b9cdd4264897afde2a59', 'ACB CREDIT', 48463.26),
 (323935, 'ID_6e68d1d33c58f6c934c3407b4d85cafc99ca320890c3907f36071c5556cfd400dd5dad3cd97008a7943d3226cac72c1755572ce4c1f1c7502fdad5ee52ac4e9a', 'ACB CREDIT', 48288.95),
 (729478, 'ID_5408c0892fd83a64bb70a06b2915b14dc5c94c07b9a3f2180175541f7e9fb6ffb5e6ac73ed0aca8fb2341ddea7540bee17e45b3ec505d62d1ef424eeae3bc177', 'ACB CREDIT', 47975.73),
 (351787, 'ID_67dfe2f1b460697f4b747f39de623343306d63e06c6852dc371135f381e50b76f5153ba506fa260d26c2e5ab125a13b33d665263278cb6380260adf6e2abb60a', 'ACB CREDIT', 47879.58),
 (512079, 'ID_e11bb346844a18645ad5229fe9a496712324b0502e3c338dc46fa45a8eb5151113dc6c61900d5f94dd3dfe8737b6b14d0aa229dac050841d8a9c4ccf571da940', 'ACB CREDIT', 47734.62)]

In [23]:
%%sql
SELECT 
    transaction_description, 
    DATE_TRUNC('day', record_date) AS transaction_day, 
    COUNT(*) AS transaction_count, 
    SUM(amt) AS total_transaction_value
FROM 
    transactiondata
GROUP BY 
    transaction_description, 
    DATE_TRUNC('day', record_date)
ORDER BY 
    transaction_day ASC
    LIMIT 30;

 * postgresql://postgres:***@localhost:5432/absadatabase
30 rows affected.

[('ACB CREDIT', datetime.datetime(2021, 7, 1, 0, 0), 5, 17565.27),
 ('ACB DEBIT:EXTERNAL', datetime.datetime(2021, 7, 1, 0, 0), 20, -15597.09),
 ('AIRTIME DEBIT', datetime.datetime(2021, 7, 1, 0, 0), 3, -61.0),
 ('ATM TRANSFER', datetime.datetime(2021, 7, 1, 0, 0), 1, -140.0),
 ('ATM WITHDRAWAL', datetime.datetime(2021, 7, 1, 0, 0), 11, -14000.0),
 ('CASHSEND IB', datetime.datetime(2021, 7, 1, 0, 0), 1, -300.0),
 ('CHARGES', datetime.datetime(2021, 7, 1, 0, 0), 28, -3912.0099999999998),
 ('CR BAL REBATE', datetime.datetime(2021, 7, 1, 0, 0), 1, 55.9),
 ('DC TRACK INTERNAL', datetime.datetime(2021, 7, 1, 0, 0), 2, -2125.73),
 ('IBANK PAYMENT FROM', datetime.datetime(2021, 7, 1, 0, 0), 3, 1940.0),
 ('IBANK PAYMENT TO', datetime.datetime(2021, 7, 1, 0, 0), 8, -4770.34),
 ('IBANK TRANSFER', datetime.datetime(2021, 7, 1, 0, 0), 2, 3100.0),
 ('INET IMMEDIATE PMT', datetime.datetime(2021, 7, 1, 0, 0), 1, -1700.0),
 ('INT DEBIT ORDER TO', datetime.datetime(2021, 7, 1, 0, 0), 3, -125.15),
 ('INTEREST', datetime.datetime(2021, 7, 1, 0, 0), 3, -57.18),
 ('MANAGEMENT FEE', datetime.datetime(2021, 7, 1, 0, 0), 29, -3013.0),
 ('OD: LEDGER FEE', datetime.datetime(2021, 7, 1, 0, 0), 2, -138.0),
 ('POS PURCHASE', datetime.datetime(2021, 7, 1, 0, 0), 9, -6547.999999999999),
 ('REWARDS FEE', datetime.datetime(2021, 7, 1, 0, 0), 2, -46.4),
 ('UNPAID DEBIT', datetime.datetime(2021, 7, 1, 0, 0), 4, 1653.69),
 (None, datetime.datetime(2021, 7, 1, 0, 0), 55, -9987.089999999998),
 ('ACB CREDIT', datetime.datetime(2021, 7, 2, 0, 0), 3, 2927.6),
 ('AIRTIME DEBIT', datetime.datetime(2021, 7, 2, 0, 0), 3, -103.0),
 ('ATM WITHDRAWAL', datetime.datetime(2021, 7, 2, 0, 0), 7, -4890.0),
 ('CASHSEND ATM', datetime.datetime(2021, 7, 2, 0, 0), 2, -1550.0),
 ('IBANK PAYMENT TO', datetime.datetime(2021, 7, 2, 0, 0), 1, -120.0),
 ('IBANK TRANSFER', datetime.datetime(2021, 7, 2, 0, 0), 1, 1000.0),
 ('POS PURCHASE', datetime.datetime(2021, 7, 2, 0, 0), 15, -2644.9),
 ('PREPAID DEBIT', datetime.datetime(2021, 7, 2, 0, 0), 4, -800.0),
 ('PREPAID DEBIT  COR', datetime.datetime(2021, 7, 2, 0, 0), 2, 250.0)]

In [25]:
%%sql

SELECT 
    transaction_description, 
    TO_CHAR(record_date, 'MM-DD') AS transaction_day, 
    COUNT(*) AS transaction_count, 
    SUM(amt) AS total_transaction_value,
    AVG(SUM(amt)) OVER (PARTITION BY TO_CHAR(record_date, 'MM-DD')) AS average_daily_value
FROM 
    transactiondata
GROUP BY 
    transaction_description, 
    TO_CHAR(record_date, 'MM-DD')
ORDER BY 
    average_daily_value
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('OPENED-FROM SAV', '03-01', 3, 7019.24, -54596.29517241381),
 ('TRANSFER FROM', '03-01', 4, 67500.0, -54596.29517241381),
 ('STOP ORDER FROM', '03-01', 2, 2000.0, -54596.29517241381),
 ('INTEREST', '03-01', 88, -479.65999999999997, -54596.29517241381),
 ('OD: LEDGER FEE', '03-01', 61, -4209.0, -54596.29517241381),
 ('IMMEDIATE TRF CR', '03-01', 40, 138689.55, -54596.29517241381),
 ('CARDLESS CASH DEP', '03-01', 16, 29080.0, -54596.29517241381),
 ('ACB DEBIT:EXTERNAL', '03-01', 674, -488615.1799999998, -54596.29517241381),
 ('ACB DEBIT:INTERNAL', '03-01', 14, -8981.349999999999, -54596.29517241381),
 ('CREDIT TRANSFER', '03-01', 2, 3256.0, -54596.29517241381)]