In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install ipython-sql

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:@localhost:5432/absadatabase

## 2. REVENUE

### Revenue (Income):
**CHARGES:Fees charged to customers are revenue.**

**CHARGES - CLOSURE: Fees charged to customers are revenue.**

**DIGITAL TRAN FEES: Fees for digital transactions are revenue.**

**INTEREST: Interest earned on loans or investments is revenue.**

**MANAGEMENT FEE/MANAGEMNT FEE CLSE: Fees for account management are revenue.**

**OD: INITIATION FEE:While the overdraft itself is a liability, the associated fees are revenue**

**LEDGER FEE: While the overdraft itself is a liability, the associated fees are revenue.**

**REWARDS FEES: Fees related to rewards programs could be considered revenue.**

**TRAVEL FOREX(PFC/TFC): Fees or commissions earned on foreign exchange transactions are revenue.**

---

## NOTE: Transaction amt under Revenue
The negative amount(AMT) indicates a deduction from the customer's account, but it is an inflow of funds for the bank because the bank receives the payment. Although it appears negative in the customer’s transaction history, it contributes to the bank’s revenue stream, reflecting money flowing into the bank.

---

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS REVENUE AS OF 2021 AND 2022
---

In [6]:
%%sql
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
'CHARGES',
'CHARGES - CLOSURE',
'DIGITAL TRANSF CR',
'MANAGEMENT FEE',
'MANAGEMNT FEE CLSE',
'REWARDS FEE',
'OD: INITIATION FEE',
'OD: LEDGER FEE',
'INTEREST ADJUST',
'INTEREST TO CLOSE',
'INVESTMNT INTEREST'
    )

GROUP BY
    transaction_description;

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[('CHARGES', -1194483.990000002, 38.0, -1194445.990000002, 'PROFIT'),
 ('CHARGES - CLOSURE', -6477.72, 0.0, -6477.72, 'PROFIT'),
 ('DIGITAL TRANSF CR', 0.0, 1668468.01, 1668468.01, 'LOSS'),
 ('INTEREST ADJUST', -46.00999999999998, 28.629999999999995, -17.379999999999995, 'PROFIT'),
 ('INTEREST TO CLOSE', -12.16, 0.0, -12.16, 'PROFIT'),
 ('INVESTMNT INTEREST', 0.0, 96312.58999999998, 96312.58999999998, 'LOSS'),
 ('MANAGEMENT FEE', -1049012.4200000004, 0.0, -1049012.4200000004, 'PROFIT'),
 ('MANAGEMNT FEE CLSE', -4484.219999999999, 0.0, -4484.219999999999, 'PROFIT'),
 ('OD: INITIATION FEE', -36287.460000000036, 0.0, -36287.460000000036, 'PROFIT'),
 ('OD: LEDGER FEE', -55752.0, 0.0, -55752.0, 'PROFIT'),
 ('REWARDS FEE', -107276.80000000095, 0.0, -107276.80000000095, 'PROFIT')]

In [8]:
%%sql
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description IN (
'CHARGES',
'CHARGES - CLOSURE',
'DIGITAL TRANSF CR',
'MANAGEMENT FEE',
'MANAGEMNT FEE CLSE',
'REWARDS FEE',
'OD: INITIATION FEE',
'OD: LEDGER FEE',
'INTEREST ADJUST',
'INTEREST TO CLOSE'
    )
limit 10
;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[(228122, 'REWARDS FEE', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 4, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 1170.45, -23.2, 18424, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '258555e7684ee31e821b874731ba020f25315b88077bdff4f5d7dcc06c4ad5a413bf6f8c981e12f9ccba28e6ac5bc34c437140458ceacf58788d5b6c0b61e458'),
 (228128, 'REWARDS FEE', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 2, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 5315.99, -23.2, 17609, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '89780b1bc6b79549cea96d9bb649f30e077c0bc539185fb2b58c5b8093d11132011702d3eabde35a04746f0c3b7e7508a0dd1ae48ea8d0ed058e70e8c3b4cbe0'),
 (228131, 'CHARGES', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 8, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 3696.6, -14.0, 20347, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '445a2a0209a08f1950f41c9c2ad627f468f4d9a40220e441a0258f1afaef0a52e9bd0f759a037b8d0a8deffab709e25673bff5522873edb87d06f71e2d010ffa'),
 (228142, 'CHARGES', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 6, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 731.49, -17.5, 19461, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '445a2a0209a08f1950f41c9c2ad627f468f4d9a40220e441a0258f1afaef0a52e9bd0f759a037b8d0a8deffab709e25673bff5522873edb87d06f71e2d010ffa'),
 (228153, 'DIGITAL TRANSF CR', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 8, 15, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 280.68, 250.0, 20611, 'CHEQ', 'internet', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '60c2ac09f44d76265dd7dc755db828593f1eb375166e481510ab1288ce6ed698c74b568101c44636a925044b9eec63123555787a473ddd54360aed305d6549e1'),
 (228169, 'CHARGES', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 7, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 3673.7, -26.0, 19928, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '445a2a0209a08f1950f41c9c2ad627f468f4d9a40220e441a0258f1afaef0a52e9bd0f759a037b8d0a8deffab709e25673bff5522873edb87d06f71e2d010ffa'),
 (228206, 'CHARGES', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 4, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 1193.65, -20.0, 18423, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '445a2a0209a08f1950f41c9c2ad627f468f4d9a40220e441a0258f1afaef0a52e9bd0f759a037b8d0a8deffab709e25673bff5522873edb87d06f71e2d010ffa'),
 (228235, 'DIGITAL TRANSF CR', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 8, 6, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 2546.66, 300.0, 20424, 'CHEQ', 'internet', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '60c2ac09f44d76265dd7dc755db828593f1eb375166e481510ab1288ce6ed698c74b568101c44636a925044b9eec63123555787a473ddd54360aed305d6549e1'),
 (228277, 'DIGITAL TRANSF CR', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 7, 13, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 1215.89, 200.0, 20024, 'CHEQ', 'internet', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', '633851cb1f6ed1caf7c8acb7da1ba5d61558dff44bc071787d6e6cd1f62d90f6704a43cf1c6a93e7210f043e771d20e8d1ea68dd57dc273be2a8340f19422621'),
 (228294, 'REWARDS FEE', 'ID_92ef0efd71aae865ff3eb1ac270490fa34de3fdbea31a93154f405252898d82f23cfb902b1d86e1e9f8560b071c953489f68c7552228b8f4add4053321fd5f39', datetime.datetime(2022, 6, 1, 0, 0), 'e92177da406abc0e0a5bce83e853dbdb4e792af521a0ae42494e0bf27ed164839766592c3c2bf9a5940793e7c6adc16c244c564fb4ae809daa9a3e01cbe72cf2', 748.99, -23.2, 19460, 'CHEQ', 'system', 'd3ed72136b6ba82e4bebce7c489b9e13bcd0a8e735cf865ba88144adcd815d718cddefe13c3e028918847b47f0991fc3260f7a0704e794cb974421c343f925bd', 'e9e176f9b710cb602abe1c728458b095eabb9411ed49ffd0feb0bebca46930d1eff9d4f4baf1bb86eb16702f0998bebc4eb960ad021fa35ffa3b382470aa8258')]

## 2.4 MANAGEMENT FEE
Charges for managing accounts, investments, or other financial products.
#
**Why Revenue?** This is payment for professional services like overseeing investment portfolios or other financial products.
#

In [ ]:
%%sql
CREATE TABLE MANAGEMENT_FEE AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'MANAGEMENT FEE'
ORDER BY RECORD_DATE
;

In [ ]:
%%sql
COPY  MANAGEMENT_FEE
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/MANAGEMENT_FEE.csv'
DELIMITER ','
CSV HEADER;

## 2.5 MANAGEMNT FEE CLSE
Similar to management fees, but tied to closing an account or service.
#
**Why Revenue?** Compensation for services provided until closure and administrative processing.
#

In [ ]:
%%sql
CREATE TABLE MANAGEMNT_FEE_CLSE AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'MANAGEMNT FEE CLSE'
ORDER BY RECORD_DATE
;

In [ ]:
%%sql
COPY  MANAGEMNT_FEE_CLSE
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/MANAGEMNT_FEE_CLSE.csv'
DELIMITER ','
CSV HEADER;

## 2.6 REWARDS FEE
Fees for processing rewards programs or providing loyalty benefits.
#
**Why Revenue?** Banks often monetize rewards programs through a combination of fees and partnerships with merchants.
#

In [ ]:
%%sql
CREATE TABLE REWARDS_FEE AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'REWARDS FEE'
ORDER BY RECORD_DATE
;

In [ ]:
%%sql
COPY  REWARDS_FEE
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/REWARDS_FEE.csv'
DELIMITER ','
CSV HEADER;

## 2.7 OD: INITIATION FEE
A one-time fee for initiating an overdraft facility for a customer.
#
**Why Revenue?** Reflects the cost of granting access to additional funds and the risk assessment involved.
#

In [ ]:
%%sql
CREATE TABLE INITIATION_FEE AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'OD: INITIATION FEE'
ORDER BY RECORD_DATE
;

In [ ]:
%%sql
COPY  INITIATION_FEE
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/INITIATION_FEE.csv'
DELIMITER ','
CSV HEADER;

## 2.8. OD: LEDGER FEE
Recurring fees for maintaining and monitoring an overdraft ledger.
#
**Why Revenue?** It covers administrative costs and is a source of income for offering the overdraft facility.
#

In [ ]:
%%sql
CREATE TABLE OD_LEDGER_FEE AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'OD: INITIATION FEE'
ORDER BY RECORD_DATE
;

In [ ]:
%%sql
COPY  OD_LEDGER_FEE
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/OD_LEDGER_FEE.csv'
DELIMITER ','
CSV HEADER;

## 2.9 INTEREST
The primary revenue from loans or credit extended to customers.
#
**Why Revenue?** Represents the bank's earnings from lending capital at interest rates higher than the cost of funds.
#

In [ ]:
%%sql
CREATE TABLE INTEREST AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'INTEREST'
ORDER BY RECORD_DATE

In [ ]:
%%sql
COPY  INTEREST
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/INTEREST.csv'
DELIMITER ','
CSV HEADER;

## 2.10 INTEREST ADJUST
Adjustments to interest calculations, typically to correct previous errors or account for changes in rates.
#
**Why Revenue?** Adjustments may result in additional earnings.
#

In [ ]:
%%sql
CREATE TABLE INTEREST_ADJUST AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'INTEREST ADJUST'
ORDER BY RECORD_DATE

In [ ]:
%%sql
COPY  INTEREST_ADJUST
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/INTEREST_ADJUST.csv'
DELIMITER ','
CSV HEADER;

## 2.11 INTEREST TO CLOSE
Interest accrued on accounts or loans up to the point of closure.
#
**Why Revenue?** Reflects the bank's entitlement to earnings from the use of its capital until the account is closed.
#

In [ ]:
%%sql
CREATE TABLE INTEREST_TO_CLOSE AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'INTEREST TO CLOSE'
ORDER BY RECORD_DATE

In [ ]:
%%sql
COPY  INTEREST_TO_CLOSE
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/INTEREST_TO_CLOSE.csv'
DELIMITER ','
CSV HEADER;

## 2.12 INVESTMNT INTEREST
Income from investments made by the bank in securities, bonds, or other financial instruments.
#
**Why Revenue?** Reflects the return on investment capital deployed in various financial markets.
##

In [ ]:

%%sql
CREATE TABLE INVESTMNT_INTEREST AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'INVESTMNT INTEREST'
ORDER BY RECORD_DATE

In [ ]:
%%sql
COPY  INVESTMNT_INTEREST
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/INVESTMNT_INTEREST.csv'
DELIMITER ','
CSV HEADER;