In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [6]:
%load_ext sql
from sqlalchemy import create_engine

In [7]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [ ]:
%%sql
CREATE TABLE ASSETS AS
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY 
    transaction_description;

In [8]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## **Channel Performance Over Time**
## This query is designed to track customer transaction behaviors across various channels 
## The goal is to understand how customers interact with each channel over time and use this data to make informed business decisions.

In [12]:
%%sql
SELECT 
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    year, month, channel
ORDER BY 
   flow

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(Decimal('10'), Decimal('2021'), 'system', 9858812.670000002, -6873930.329999974, 2984882.340000012, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'teller', 1856126.6199999996, -420870.65, 1435255.97, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'system', 29821659.81999997, -19908426.87000063, 9913232.949999874, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'teller', 8167242.039999999, -1877250.73, 6289991.31, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'system', 912890.8800000001, -511596.39000000013, 401294.4899999998, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'teller', 133245.84, -66463.43, 66782.41, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'system', 32287908.459999956, -23830111.040000904, 8457797.419999925, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'teller', 10195236.15, -2116167.7699999996, 8079068.380000003, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'system', 15988925.080000008, -10327997.290000059, 5660927.790000028, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'teller', 2818577.4899999998, -742342.67, 2076234.82, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'system', 29910717.239999987, -20737995.15000073, 9172722.089999938, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'teller', 9333243.950000001, -2107917.0500000007, 7225326.9, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'system', 6414630.199999999, -3932477.249999986, 2482152.950000009, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'teller', 969407.8300000001, -256049.46999999997, 713358.3600000001, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'system', 26214228.40999999, -18857395.030000597, 7356833.380000024, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'teller', 10900551.55, -2818096.22, 8082455.330000001, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'system', 25504367.57999999, -17927563.900000483, 7576803.680000026, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'teller', 4366534.380000001, -1019841.75, 3346692.63, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'system', 21175828.540000014, -15297364.78000034, 5878463.7600000445, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'teller', 9390266.780000005, -2821152.3, 6569114.480000001, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'system', 2649958.6799999992, -1651552.4599999988, 998406.2200000001, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.09, 360839.13, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'system', 15537536.910000013, -11515508.44000011, 4022028.470000057, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'teller', 8727935.57, -2813083.2700000005, 5914852.300000001, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'system', 26128050.009999994, -17928610.54000051, 8199439.469999994, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'teller', 5776788.729999999, -1205648.39, 4571140.34, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'system', 9036268.57, -7330752.019999967, 1705516.5500000147, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'teller', 9393845.160000002, -2434461.7299999995, 6959383.429999999, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'atm', 957376.81, -8398322.47, -7440945.66, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.33999999997, -165781.45, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, -933007.5, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'internet', 507749.17000000004, -1031156.4299999997, -523407.25999999995, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, -2181941.0, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'internet', 1360257.41, -2148567.68, -788310.2699999999, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, -3641083.44, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'internet', 2387322.41, -3518071.1900000004, -1130748.78, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.63, -5214364.0, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'internet', 3619169.2600000002, -5569608.640000001, -1950439.38, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, -9299792.219999999, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'internet', 6622108.090000002, -9059295.679999998, -2437187.590000001, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.489999998, -9484852.26, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'internet', 6551594.359999998, -9305518.919999998, -2753924.560000001, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.110000001, -11137516.34, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'internet', 8743750.5, -11931702.299999999, -3187951.7999999993, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'atm', 1848121.2000000002, -14025678.700000001, -12177557.5, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'internet', 9310649.36, -13486131.69, -4175482.330000003, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'atm', 1947036.3199999998, -13405640.36, -11458604.04, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'internet', 8344147.59, -11973027.129999997, -3628879.539999999, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'atm', 1659089.85, -12091816.7, -10432726.85, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'internet', 8320647.6000000015, -11289020.78, -2968373.1800000006, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, -8242814.51, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'internet', 7568164.049999999, -9784441.47, -2216277.4200000004, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, -315186.5, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'internet', 6216439.54, -7995292.49, -1778852.9500000002, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.470000001, -4973004.96, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'internet', 4737790.279999999, -6100900.16, -1363109.8800000001, 'OUTFLOW')]

In [18]:
%%sql
SELECT 
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS TOTAL_SUM,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
 channel

 * postgresql://postgres:***@localhost:5432/absadatabase
4 rows affected.

[('atm', 14578923.850000001, -111512320.63, -96933396.78, 'OUTFLOW'),
 ('internet', 74404500.50999993, -103473226.90000007, -29068726.389999956, 'OUTFLOW'),
 ('system', 251441783.0500001, -176631281.4899896, 74810501.56000988, 'INFLOW'),
 ('teller', 82452458.30999988, -20761962.520000007, 61690495.78999996, 'INFLOW')]

---
## **Customers Eligible For Rewards**


## Basic TIer
**1.Have made at least 20 to 35 transactions over a month**
**Have spent more than R1000 over a month**


## Elite Tier
**1.Have made at least 30 to 45 transactions over a month**
**Have spent more than 1500 over a month**



---

#
POS PURCHASE - Direct purchase of goods/services using a card.
#
AIRTIME DEBIT - Purchasing airtime.
#
LOTTO PURCHASE - Buying lottery tickets.
#
POS CASH WDL - Card-based cash withdrawal for likely spending purposes.
#
OVERSEAS PURCHASE - Purchases made outside the country.
#
DIGITAL PAYMENT DT - Indicates digital payments, likely for goods/services.
#
PREPAID DEBIT - Purchases using prepaid debit cards.
#
MOBILE PAYMENT DT - Mobile-based payments, indicating customer expenditure.
#
POS PUR & CASH - Combined POS purchase and cash withdrawal.
#
IMDTE DIGITAL PMT - Online payments or transfers that are processed instantly.
#
INET IMMEDIATE PMT - Online transaction where funds are transferred quickly, usually for services or purchases.
#
AIRTIME DBT ATMS - The purchase of airtime or mobile data via an ATM.
#
O/SEAS CASH WDL - Cash withdrawals made overseas from ATMs or bank accounts

In [13]:
%%sql
SELECT TO_CHAR(record_date, 'YYYY-MM') AS year_month,
customer_identifier, 
SUM(amt) AS total_spent, 
AVG(amt) AS avg_transaction_amount,
count(amt) AS COUNT
FROM transactiondata 
WHERE transaction_description IN (
'POS PURCHASE', 
'POS CASH WDL', 
'POS PUR & CASH',
'DIGITAL PAYMENT DT',
'MOBILE PAYMENT DT', 
'IMDTE DIGITAL PMT', 
'INET IMMEDIATE PMT', 
'AIRTIME DBT ATMS', 
'AIRTIME DEBIT', 
'PREPAID DEBIT', 
'O/SEAS CASH WDL', 
'OVERSEAS PURCHASE',
'LOTTO PURCHASE'
)
GROUP BY customer_identifier,year_month
ORDER BY year_month
LIMIT 10

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('2021-07', 'ID_0e8b1ef1ddeb5dcb2d10a3a9997dab555b0a8cdfc7c7a4c5c998856c436d8d3a42c5f7aeb329feb7fa59be2319d63623de13842bed180b33625cdbe316b0b0d6', -1565.3700000000001, -65.22375000000001, 24),
 ('2021-07', 'ID_143fdf443b816c8691f312daea50da487c489f188c5173fe2e54cdaa1400074b6c3affc354af3dbc947f09b1392682ffcd2ec54493a984b63bcd2db5802b2e53', -5952.88, -992.1466666666666, 6),
 ('2021-07', 'ID_16034ec12cd3b479410e86724e2cd0837284778e3e7d9cbfcd396c2edf1f917b61205d4f878d8baf56e8d31161afa01656ea963933f5fe4b126ba880d14647ed', -2151.21, -143.41400000000002, 15),
 ('2021-07', 'ID_22e0aa8ff3711f42e8c33dd872af4c01a94863d63e0812c285a985233b4fd655a9341354604703e89326ae7edb888442116df7ca7c182732fc88c684eca83159', -4778.7300000000005, -434.43000000000006, 11),
 ('2021-07', 'ID_246a4f0aeba049d134199e7c945242c86931cce4cb7c9b39d3b9539f26851d2c84bd911e938475819aa702ac7cea8abad39d9da5bd5aec95d413c3b0757cb937', -10719.130000000001, -214.38260000000002, 50),
 ('2021-07', 'ID_258715211c1c4fc5a01a6fedadbed96348d37b831be4504b12343e57f4f2d91c83a0c711a07aff95bf11da954ada2fa6711f5a7589a57b5c03e0cbaac6ca89b5', -3524.5600000000004, -220.28500000000003, 16),
 ('2021-07', 'ID_3753b1523a14242fbdd67776fa3dcf23cf1943efe05de94f0c2bcee56681ba0ce42f483b7c5e2c334a7b0418586a6549f737a036f7202b40160dfc3ace03e6e7', -2472.66, -112.39363636363636, 22),
 ('2021-07', 'ID_3b5b16bea462d5d36034325a5f7003e46a492c9f439b1baa9e7b699c17e7454fff07135571b53f2812c48d1476941b25bdbd7730f86987ab4d4456bde26e5780', -820.81, -102.60125, 8),
 ('2021-07', 'ID_5224525bf40909c2abc2b1503c46b197d9cef18f8482d3865df62c765abaf2b9392a7ab9f2a65535e96fdbe7ebdbde0655efe8e887526bdd57b2dafe89dac457', -3804.08, -475.51, 8),
 ('2021-07', 'ID_5233db51b00859ac4b3c9c115c0506a83670df0aa171e9d570d44dcba6a26569ac1f3840076ef84bf73f0b598dceaafec87e27c1df3026b047af60d4526847a4', -870.3399999999999, -96.70444444444443, 9)]